<ul class="thumbs">
                  <li class="thumb one_sixth">
                        <a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_1.jpg" data-caption="Finca Los Alpes, Eastern El Salvador">
        <img src="images/gallery_1-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="images/gallery_2.jpg" data-caption="Pacamara coffee cherries, El Salvador">
        <img src="images/gallery_2-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="images/gallery_3.jpg" data-caption="Finca Los Alpes, eastern El Salvador">
        <img src="images/gallery_3-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="images/gallery_4.jpg" data-caption="Final coffee sorting, El Salvador">
        <img src="images/gallery_4-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="images/gallery_5.jpg" data-caption="De-pulping, Panama">
        <img src="images/gallery_5-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="images/gallery_6.jpg" data-caption="Cupping at Hacienda La Esmeralda, Panama">
        <img src="images/gallery_6-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="images/gallery_7.jpg" data-caption="Fresh geisha coffee cherries at Hacienda La Esmeralda, Panama">
        <img src="images/gallery_7-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_8.jpg" data-caption="1600 Glenarm Place">
        <img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_8-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_9.jpg" data-caption="1600 Glenarm Place">
        <img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_9-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="images/gallery_10.jpg" data-caption="1600 Glenarm Place">
        <img src="images/gallery_10-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="images/gallery_111.jpg" data-caption="1600 Glenarm Place">
        <img src="images/gallery_111-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_12.jpg" data-caption="1600 Glenarm Place">
        <img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_12-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_13.jpg" data-caption="1600 Glenarm Place">
        <img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_13-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="images/gallery_14.jpg" data-caption="1600 Glenarm Place">
        <img src="images/gallery_14-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="images/gallery_15.jpg" data-caption="Roasting at 3008 Larimer Street">
        <img src="images/gallery_15-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="images/gallery_16.jpg" data-caption="Roasting at 3008 Larimer Street">
        <img src="images/gallery_16-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="images/gallery_17.jpg" data-caption="Roasting at 3008 Larimer Street">
        <img src="images/gallery_17-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="images/gallery_18.jpg" data-caption="Roasting at 3008 Larimer Street">
        <img src="images/gallery_18-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="images/gallery_19.jpg" data-caption="Coffee cherries, 3008 Larimer Street">
        <img src="images/gallery_19-150x150.jpg">
      </a>
    </li>
                  <li class="thumb one_sixth">
                        <a data-full="images/gallery_20.jpg" data-caption="Ricardo Bustos, Finca Villadiana, Colombia">
        <img src="images/gallery_20-150x150.jpg">
      </a>
    </li>
</ul>
