
<body class="page page-id-5559 page-template page-template-template-about-php">
	<header>
		<div id="headerwrap" >
							<div class="cartHolder">
			<div class="top-nav">
				<div class="socialTop">
									</div>
								<div class="cartWrapper">
					<a class="cart-bubble cart-contents">(0)</a>
										<a href="http://novocoffee.com/cart/" class="cart">Cart</a>
				<div class="widget_shopping_cart_top">
				<div class="cartTopDetails">
					<ul class="cart_list product_list_widget  ">


							<li class="empty cart">No products in the cart.</li>

																</ul><!-- end product list -->
				</div>

				</div>
				</div>

												<ul>
					<li><a href="http://novocoffee.com/my-account/">My Account</a></li>
				</ul>
							</div>
		</div>
							<div id="header">

			<div id="logo">

													<a href="http://novocoffee.com"><img src="images/logo.png" alt="Novo Coffee - " /></a>
						</div>
			<div class="respMenu">
				<select name="url_list" class="event-type-selector-dropdown" onchange="gotosite(this)"><option value="" selected="selected" disabled="disabled">Please select...</option><option  value="http://novocoffee.com/shop/">Shop</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Africa</option>
<option  value="http://novocoffee.com/product/anyetsu/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu</option>
<option  value="http://novocoffee.com/product/anyetsu-espresso/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu Espresso</option>
<option  value="http://novocoffee.com/product/hachira/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hachira</option>
<option  value="http://novocoffee.com/product/kiamwangi/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kiamwangi</option>
<option  value="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ritual Chocolate Anyetsu Bar</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Central America</option>
<option  value="http://novocoffee.com/product/el-banco/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Banco</option>
<option  value="http://novocoffee.com/product/fincaisnul/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finca Isnul</option>
<option  value="http://novocoffee.com/product/hartmann-honey/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hartmann Honey</option>
<option  value="http://novocoffee.com/product/hartmann-geisha/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hartmann Geisha</option>
<option  value="http://novocoffee.com/product/mundani/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mundani</option>
<option  value="http://novocoffee.com/product/ojo-de-agua-2/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ojo de Agua</option>
<option  value="http://novocoffee.com/product/4mujere/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 Mujeres</option>
<option  value="http://novocoffee.com/product/el-aguila-bourbon/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Aguila Bourbon</option>
<option  value="http://novocoffee.com/product/el-aguila-pacamara/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Aguila Pacamara</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;South America</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pacific</option>
<option  value="http://novocoffee.com/product/ulos-batak/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ulos Batak</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espressos, Blends, & Decaf</option>
<option  value="http://novocoffee.com/product/anyetsu-espresso/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu Espresso</option>
<option  value="http://novocoffee.com/product/espresso-del-fuego/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espresso del Fuego</option>
<option  value="http://novocoffee.com/product/espresso-novo/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espresso Novo</option>
<option  value="http://novocoffee.com/product/four-leftys/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Four Leftys</option>
<option  value="http://novocoffee.com/product/novo-decaf/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Novo Decaf</option>
<option  value="http://novocoffee.com/product/novo-decaf-espresso/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Novo Decaf Espresso</option>

<option  value="/shop/">&nbsp;&nbsp;&nbsp;&nbsp;View all Coffees</option>

<option  value="http://novocoffee.com/wholesale/">Wholesale</option>
<option  value="http://novocoffee.com/news-events/">News + Events</option>
<option  value="http://novocoffee.com/about/">About</option>
<option  value="http://novocoffee.com/contact-locations/">Contact + Locations</option>
</select>			</div>

			<div class="pagenav">
			<ul id="menu-main-menu-1" class="menu"><li id="menu-item-5535" class="pmcbig menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="http://novocoffee.com/shop/"><strong>Shop</strong></a>
<ul class="sub-menu">
	<li id="menu-item-5799" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu-africa.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6287" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Africa</h4></a></li>
		<li id="menu-item-6131" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/anyetsu/">Anyetsu</a></li>
		<li id="menu-item-6355" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/anyetsu-espresso/">Anyetsu Espresso</a></li>
		<li id="menu-item-7812" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/hachira/">Hachira</a></li>
		<li id="menu-item-7813" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/kiamwangi/">Kiamwangi</a></li>
		<li id="menu-item-6926" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/">Ritual Chocolate Anyetsu Bar</a></li>
	</ul>
</li>
	<li id="menu-item-5802" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu_central-america.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6289" class="pushup menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Central America</h4></a></li>
		<li id="menu-item-6137" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/el-banco/">El Banco</a></li>
		<li id="menu-item-7185" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/fincaisnul/">Finca Isnul</a></li>
		<li id="menu-item-7449" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/hartmann-honey/">Hartmann Honey</a></li>
		<li id="menu-item-7830" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/hartmann-geisha/">Hartmann Geisha</a></li>
		<li id="menu-item-6139" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/mundani/">Mundani</a></li>
		<li id="menu-item-7447" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/ojo-de-agua-2/">Ojo de Agua</a></li>
		<li id="menu-item-7809" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/4mujere/">4 Mujeres</a></li>
		<li id="menu-item-7810" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/el-aguila-bourbon/">El Aguila Bourbon</a></li>
		<li id="menu-item-7811" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/el-aguila-pacamara/">El Aguila Pacamara</a></li>
	</ul>
</li>
	<li id="menu-item-5804" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu_south-america.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6288" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>South America</h4></a></li>
	</ul>
</li>
	<li id="menu-item-5808" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu_pacific.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6290" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Pacific</h4></a></li>
		<li id="menu-item-6152" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/ulos-batak/">Ulos Batak</a></li>
	</ul>
</li>
	<li id="menu-item-5809" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/07/espressos_blends.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6291" class="pushup menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Espressos, Blends, <br/>&#038; Decaf</h4></a></li>
		<li id="menu-item-6144" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/anyetsu-espresso/">Anyetsu Espresso</a></li>
		<li id="menu-item-6145" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/espresso-del-fuego/">Espresso del Fuego</a></li>
		<li id="menu-item-6146" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/espresso-novo/">Espresso Novo</a></li>
		<li id="menu-item-6147" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/four-leftys/">Four Leftys</a></li>
		<li id="menu-item-6149" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/novo-decaf/">Novo Decaf</a></li>
		<li id="menu-item-6150" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/novo-decaf-espresso/">Novo Decaf Espresso</a></li>
	</ul>
</li>
	<li id="menu-item-6230" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/shop/"><div class="menufeautured"><img src="/wp-content/uploads/2013/07/Novo-Roaster-Low-19.jpg" alt="menu image"/><span>View all Coffees</span><p></p></div></a></li>
</ul>
</li>
<li id="menu-item-5570" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/wholesale/"><strong>Wholesale</strong></a></li>
<li id="menu-item-6109" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/news-events/"><strong>News + Events</strong></a></li>
<li id="menu-item-5569" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5559 current_page_item"><a href="http://novocoffee.com/about/"><strong>About</strong></a></li>
<li id="menu-item-5614" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/contact-locations/"><strong>Contact + Locations</strong></a></li>
</ul>			</div>

			</div>
		</div>

	</header>





<div class = "outerpagewrap">
				<div class="pagewrap" style="background: #332822 url(http://novocoffee.com/wp-content/uploads/2013/06/hero_slim_about_sun.jpg) no-repeat center center;">
				<div class="pagecontent">
			<div class="pagecontentContent">
				<h1>About</h1>
				<!-- <p></p> -->
			</div>
		</div>

	</div>
</div>

<div id="mainwrap">
	<div class="color_swatch">
		<div id="main" class="clearfix">
			<div class="content fullwidth">
				<p><p>Founded in 2002 by Jake, Herb, and Joseph Brodsky, we consider all of our employees and partners to be part of the Novo family. Our <a href="/team/?phpMyAdmin=6L5kW5HG9Z1tCtV4Req75I96uV7">team</a> is small, but each of us is passionate about our role and we look forward to coming to work every single day.</p>
<p>Equally as important, we love meeting and getting to know the folks who enjoy sipping our coffee. We offer educational coffee <a href="/sign-up-for-a-cupping/?phpMyAdmin=6L5kW5HG9Z1tCtV4Req75I96uV7">cuppings</a>&#8211;another word for &#8220;tastings&#8221;&#8211;to the public, and if you’d like to come visit the <a href="/contact-locations/?phpMyAdmin=6L5kW5HG9Z1tCtV4Req75I96uV7">roastery</a> in person, please feel free to stop by on a Friday. We&#8217;re open to the public from 1:00&#8211;4:00 pm, or you can give us a call anytime at (303) 295-7678. We also serve up delicious coffee, pastries, and whole beans at our retail location at 1600 Glenarm Place. We hope to see you soon!</p>
</p>

			</div>
			<div class="one_half first">
					<a href="/team/" class="blue_button big">Meet the Novo Team</a>
				</div>
				<div class="one_half last">
					<a href="/sign-up-for-a-cupping/" class="blue_button big">Cuppings &amp; Tours</a>
				</div>
		</div>
	</div>
	<div id="main" class="clearfix">
		<div class="pad"></div>
		<div class="content fullwidth about_process">
			<h2>Learn about our process</h2>
			<p><p>Coffee is commonplace, yet a truly great cup reveals a complex process. We roast coffees early in the week in our vintage Vittoria machines (fun fact: one of them is powered by a Ferrari motor). We deliver the coffees to some of Colorado&#8217;s finest independent restaurants, coffee shops, and natural grocers promptly after roasting. We believe coffee is more than a commodity, and we are always striving for constant improvement in search of a delicious cup. While we take coffee seriously, we firmly believe in not taking ourselves too seriously, as evidenced by impromptu ping pong tournaments, plasma cars, and a fridge full of local microbrews.</p>
</p>
			<a href="/contact-locations/" class="blue_button medium">Contact Us</a>
		</div>
	</div>
	<div class="color_swatch gallery">
		<div id="main" class="clearfix">
			<div class="content fullwidth">
				<h2>Photo Gallery</h2>
									<div class="gallery">
						<ul class="nav">
							<li class="previous_gallery">
							</li>
							<li class="next_gallery">
							</li>
						</ul>
						<div class="big_img">
														<img id="big_img" src="">
              <p></p>
						</div>
						<ul class="thumbs">
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_1.jpg" data-caption="Finca Los Alpes, Eastern El Salvador">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_1-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_2.jpg" data-caption="Pacamara coffee cherries, El Salvador">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_2-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_3.jpg" data-caption="Finca Los Alpes, eastern El Salvador">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_3-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_4.jpg" data-caption="Final coffee sorting, El Salvador">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_4-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_5.jpg" data-caption="De-pulping, Panama">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_5-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_6.jpg" data-caption="Cupping at Hacienda La Esmeralda, Panama">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_6-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_7.jpg" data-caption="Fresh geisha coffee cherries at Hacienda La Esmeralda, Panama">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_7-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_8.jpg" data-caption="1600 Glenarm Place">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_8-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_9.jpg" data-caption="1600 Glenarm Place">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_9-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_10.jpg" data-caption="1600 Glenarm Place">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_10-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_111.jpg" data-caption="1600 Glenarm Place">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_111-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_12.jpg" data-caption="1600 Glenarm Place">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_12-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_13.jpg" data-caption="1600 Glenarm Place">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_13-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_14.jpg" data-caption="1600 Glenarm Place">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_14-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_15.jpg" data-caption="Roasting at 3008 Larimer Street">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_15-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_16.jpg" data-caption="Roasting at 3008 Larimer Street">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_16-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_17.jpg" data-caption="Roasting at 3008 Larimer Street">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_17-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_18.jpg" data-caption="Roasting at 3008 Larimer Street">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_18-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_19.jpg" data-caption="Coffee cherries, 3008 Larimer Street">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_19-150x150.jpg">
									</a>
								</li>
															<li class="thumb one_sixth">
																		<a data-full="http://novocoffee.com/wp-content/uploads/2013/06/gallery_20.jpg" data-caption="Ricardo Bustos, Finca Villadiana, Colombia">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_20-150x150.jpg">
									</a>
								</li>
													</ul>
					</div>
							</div>
		</div>
	</div>
</div>


<footer>
	<div id="footer">
		<div class="totop">
			<div class="gototop">
				<div class="arrowgototop">
				</div>
			</div>
		</div>
		<div class="fshadow"></div>
			<div id="footerinside">
				<div class="one_fourth first">
					<h3>A Bit about us</h3>
					<p class="a_bit_about">Family owned.<br>
</br>People focused.<br>
</br>Quality driven. </p>
					<a href="/contact-locations/"><img src="images/link_locations.png" alt="Locations"></a>
				</div>
				<div class="one_fourth second">
					<h3>Join the Community</h3>
					<a target="_blank" class="facebooklink" href="https://www.facebook.com/novocoffee" title="Facebook"></a>
					<a target="_blank" class="twitterlink" href="https://twitter.com/novocoffee" title="Twitter"></a>
				</div>
				<div class="one_fourth third">
					<h3 class="sitemap">Sitemap</h3>
					<div class="sitemap">
													<div class="menu-footer-container"><ul id="menu-footer" class="footernav"><li id="menu-item-5545" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5545"><a href="http://novocoffee.com/">Home</a></li>
<li id="menu-item-5547" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5547"><a href="http://novocoffee.com/shop/">Shop</a></li>
<li id="menu-item-5674" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5674"><a href="http://novocoffee.com/wholesale/">Wholesale</a></li>
<li id="menu-item-5675" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5559 current_page_item menu-item-5675"><a href="http://novocoffee.com/about/">About</a></li>
<li id="menu-item-5676" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5676"><a href="http://novocoffee.com/news-events/">News + Events</a></li>
<li id="menu-item-5677" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5677"><a href="http://novocoffee.com/contact-locations/">Contact + Locations</a></li>
<li id="menu-item-5546" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5546"><a href="http://novocoffee.com/my-account/">My Account</a></li>
</ul></div>											</div>
				</div>
				<div class="one_fourth last fourth">
					<h3>Subscribe</h3>
					<a href="/subscriptions/" class="monthly_subscription">Sign up for a monthly coffee subscription</a>
					<form class="subscribe">
						<h4>Subscribe to our email newsletter!</h4>
						<input type="text" id="newsletter" name="email" placeholder="Email" value="" />
						<button class="blue_button tiny">subscribe</button>
					</form>
				</div>
			</div>

			<div id="footerbwrap">

				<div id="footerb">
					<div class="copyright">
						<h6>&copy; 2013 All rights reserved.
						<span class="fireant">| Site by: <a href="http://www.fireantstudio.com" target="_blank">FIREANT STUDIO</span></h6>
				</div>
			</div>
		</div>
	</div>