
<body class="page page-id-5559 page-template page-template-template-about-php">
	<%= erb :_navigation %>

<div class = "outerpagewrap">
				<div class="pagewrap" style="background: #332822 url(http://novocoffee.com/wp-content/uploads/2013/06/hero_slim_about_sun.jpg) no-repeat center center;">
				<div class="pagecontent">
			<div class="pagecontentContent">
				<h1>About</h1>
				<!-- <p></p> -->
			</div>
		</div>

	</div>
</div>

<div id="mainwrap">
	<div class="color_swatch">
		<div id="main" class="clearfix">
			<div class="content fullwidth">
				<p><p>Founded in 2002 by Jake, Herb, and Joseph Brodsky, we consider all of our employees and partners to be part of the Novo family. Our <a href="/team/?phpMyAdmin=6L5kW5HG9Z1tCtV4Req75I96uV7">team</a> is small, but each of us is passionate about our role and we look forward to coming to work every single day.</p>
<p>Equally as important, we love meeting and getting to know the folks who enjoy sipping our coffee. We offer educational coffee <a href="/sign-up-for-a-cupping/?phpMyAdmin=6L5kW5HG9Z1tCtV4Req75I96uV7">cuppings</a>&#8211;another word for &#8220;tastings&#8221;&#8211;to the public, and if you’d like to come visit the <a href="/contact-locations/?phpMyAdmin=6L5kW5HG9Z1tCtV4Req75I96uV7">roastery</a> in person, please feel free to stop by on a Friday. We&#8217;re open to the public from 1:00&#8211;4:00 pm, or you can give us a call anytime at (303) 295-7678. We also serve up delicious coffee, pastries, and whole beans at our retail location at 1600 Glenarm Place. We hope to see you soon!</p>
</p>

			</div>
			<div class="one_half first">
					<a href="/team/" class="blue_button big">Meet the Novo Team</a>
				</div>
				<div class="one_half last">
					<a href="/sign-up-for-a-cupping/" class="blue_button big">Cuppings &amp; Tours</a>
				</div>
		</div>
	</div>
	<div id="main" class="clearfix">
		<div class="pad"></div>
		<div class="content fullwidth about_process">
			<h2>Learn about our process</h2>
			<p><p>Coffee is commonplace, yet a truly great cup reveals a complex process. We roast coffees early in the week in our vintage Vittoria machines (fun fact: one of them is powered by a Ferrari motor). We deliver the coffees to some of Colorado&#8217;s finest independent restaurants, coffee shops, and natural grocers promptly after roasting. We believe coffee is more than a commodity, and we are always striving for constant improvement in search of a delicious cup. While we take coffee seriously, we firmly believe in not taking ourselves too seriously, as evidenced by impromptu ping pong tournaments, plasma cars, and a fridge full of local microbrews.</p>
</p>
			<a href="/contact-locations/" class="blue_button medium">Contact Us</a>
		</div>
	</div>
	<div class="color_swatch gallery">
		<div id="main" class="clearfix">
			<div class="content fullwidth">
				<h2>Photo Gallery</h2>
									<div class="gallery">
						<ul class="nav">
							<li class="previous_gallery">
							</li>
							<li class="next_gallery">
							</li>
						</ul>
						<div class="big_img">
														<img id="big_img" src="">
              <p></p>
						</div>
						<%= erb :_about_pics %>
					</div>
							</div>
		</div>
	</div>
</div>
