


﻿
<!DOCTYPE html>

<html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />



	<title>
	Contact + Locations | Novo Coffee	</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link rel="icon" type="image/png" href="http://novocoffee.com/wp-content/uploads/2013/08/novofavicon.ico">


		<link rel="alternate" type="application/atom+xml" title="Novo Coffee Atom Feed" href="http://novocoffee.com/feed/atom/" />




<!-- This site is optimized with the Yoast WordPress SEO plugin v1.4.13 - http://yoast.com/wordpress/seo/ -->
<meta name="description" content="Contact Novo Coffee directly by reaching out to our roastery or one of our coffee shop locations."/>
<link rel="canonical" href="http://novocoffee.com/contact-locations/" />
<meta property='og:locale' content='en_US'/>
<meta property='og:type' content='article'/>
<meta property='og:title' content='Contact + Locations - Novo Coffee'/>
<meta property='og:description' content='Contact Novo Coffee directly by reaching out to our roastery or one of our coffee shop locations.'/>
<meta property='og:url' content='http://novocoffee.com/contact-locations/'/>
<meta property='og:site_name' content='Novo Coffee'/>
<!-- / Yoast WordPress SEO plugin. -->

<link rel="alternate" type="application/rss+xml" title="Novo Coffee &raquo; Contact + Locations Comments Feed" href="http://novocoffee.com/contact-locations/feed/" />
<meta property="og:image" content="http://novocoffee.com/wp-content/uploads/2013/07/logo.png"/>
<link rel='stylesheet' id='main-css'  href='http://novocoffee.com/wp-content/themes/mercor/style.css?ver=3.8.3' type='text/css' media='all' />
<link rel='stylesheet' id='options-css'  href='http://novocoffee.com/wp-content/themes/mercor/css/options.css?ver=3.8.3' type='text/css' media='all' />
<link rel='stylesheet' id='prettyp-css'  href='http://novocoffee.com/wp-content/themes/mercor/prettyPhoto.css?ver=3.8.3' type='text/css' media='all' />
<link rel='stylesheet' id='progresive_pms-css'  href='http://novocoffee.com/wp-content/themes/mercor/js/jquery-ui-1.8.css' type='text/css' media='all' />
<script>var jquery_placeholder_url = 'http://novocoffee.com/wp-content/plugins/gravity-forms-placeholders/jquery.placeholder-1.0.1.js';</script><script type='text/javascript' src='http://novocoffee.com/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/themes/mercor/js/custom.js?ver=1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/themes/mercor/js/jquery.prettyPhoto.js?ver=1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/themes/mercor/js/jquery.tools.min.js?ver=1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/themes/mercor/js/jquery.easing.1.3.js?ver=1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/themes/mercor/js/jquery.cycle.all.min.js?ver=1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/themes/mercor/js/jquery.nivo.slider.pack.js?ver=1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/themes/mercor/js/jquery.anythingslider.js?ver=1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/themes/mercor/js/jquery.anythingslider.fx.js?ver=1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/themes/mercor/js/jquery.anythingslider.video.min.js?ver=1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/themes/mercor/js/jquery.isotope.min.js?ver=1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/themes/mercor/js/jquery.ba-bbq.js?ver=1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/themes/mercor/js/contact.js?ver=1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/themes/mercor/js/jquery.li-scroller.1.0.js?ver=1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/themes/mercor/js/jquery-ui-1.9.2.custom.min.js?ver=1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/themes/mercor/js/jquery.bxslider.js?ver=1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-includes/js/comment-reply.min.js?ver=3.8.3'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/plugins/gravity-forms-placeholders/gf.placeholders.js?ver=1.0'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://novocoffee.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://novocoffee.com/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 3.8.3" />
<link rel='shortlink' href='http://novocoffee.com/?p=7' />


<!-- WooCommerce Version -->
<meta name="generator" content="WooCommerce 2.0.20" />







	<link rel="root" id="root" type="text/css" href="http://novocoffee.com/wp-content/themes/mercor" >
	<link rel='stylesheet' id="stylesheet" type="text/css" href="" rel="stylesheet" />
	<link rel='stylesheet' id="stylesheet" type="text/css" href="/wp-content/themes/mercor/custom_style.css" rel="stylesheet" />

</head>
<body class="page page-id-7 page-template page-template-template-contactO-php">
	<header>
		<div id="headerwrap" >
							<div class="cartHolder">
			<div class="top-nav">
				<div class="socialTop">
									</div>
								<div class="cartWrapper">
					<a class="cart-bubble cart-contents">(0)</a>
										<a href="http://novocoffee.com/cart/" class="cart">Cart</a>
				<div class="widget_shopping_cart_top">
				<div class="cartTopDetails">
					<ul class="cart_list product_list_widget  ">


							<li class="empty cart">No products in the cart.</li>

																</ul><!-- end product list -->
				</div>

				</div>
				</div>

												<ul>
					<li><a href="http://novocoffee.com/my-account/">My Account</a></li>
				</ul>
							</div>
		</div>
							<div id="header">

			<div id="logo">

													<a href="http://novocoffee.com"><img src="/wp-content/themes/mercor/images/logo.png" alt="Novo Coffee - " /></a>
						</div>
			<div class="respMenu">
				<select name="url_list" class="event-type-selector-dropdown" onchange="gotosite(this)"><option value="" selected="selected" disabled="disabled">Please select...</option><option  value="http://novocoffee.com/shop/">Shop</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Africa</option>
<option  value="http://novocoffee.com/product/anyetsu/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu</option>
<option  value="http://novocoffee.com/product/anyetsu-espresso/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu Espresso</option>
<option  value="http://novocoffee.com/product/hachira/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hachira</option>
<option  value="http://novocoffee.com/product/kiamwangi/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kiamwangi</option>
<option  value="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ritual Chocolate Anyetsu Bar</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Central America</option>
<option  value="http://novocoffee.com/product/el-banco/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Banco</option>
<option  value="http://novocoffee.com/product/fincaisnul/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finca Isnul</option>
<option  value="http://novocoffee.com/product/hartmann-honey/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hartmann Honey</option>
<option  value="http://novocoffee.com/product/hartmann-geisha/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hartmann Geisha</option>
<option  value="http://novocoffee.com/product/mundani/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mundani</option>
<option  value="http://novocoffee.com/product/ojo-de-agua-2/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ojo de Agua</option>
<option  value="http://novocoffee.com/product/4mujere/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 Mujeres</option>
<option  value="http://novocoffee.com/product/el-aguila-bourbon/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Aguila Bourbon</option>
<option  value="http://novocoffee.com/product/el-aguila-pacamara/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Aguila Pacamara</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;South America</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pacific</option>
<option  value="http://novocoffee.com/product/ulos-batak/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ulos Batak</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espressos, Blends, & Decaf</option>
<option  value="http://novocoffee.com/product/anyetsu-espresso/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu Espresso</option>
<option  value="http://novocoffee.com/product/espresso-del-fuego/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espresso del Fuego</option>
<option  value="http://novocoffee.com/product/espresso-novo/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espresso Novo</option>
<option  value="http://novocoffee.com/product/four-leftys/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Four Leftys</option>
<option  value="http://novocoffee.com/product/novo-decaf/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Novo Decaf</option>
<option  value="http://novocoffee.com/product/novo-decaf-espresso/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Novo Decaf Espresso</option>

<option  value="/shop/">&nbsp;&nbsp;&nbsp;&nbsp;View all Coffees</option>

<option  value="http://novocoffee.com/wholesale/">Wholesale</option>
<option  value="http://novocoffee.com/news-events/">News + Events</option>
<option  value="http://novocoffee.com/about/">About</option>
<option  value="http://novocoffee.com/contact-locations/">Contact + Locations</option>
</select>			</div>

			<div class="pagenav">
			<ul id="menu-main-menu-1" class="menu"><li id="menu-item-5535" class="pmcbig menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="http://novocoffee.com/shop/"><strong>Shop</strong></a>
<ul class="sub-menu">
	<li id="menu-item-5799" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu-africa.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6287" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Africa</h4></a></li>
		<li id="menu-item-6131" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/anyetsu/">Anyetsu</a></li>
		<li id="menu-item-6355" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/anyetsu-espresso/">Anyetsu Espresso</a></li>
		<li id="menu-item-7812" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/hachira/">Hachira</a></li>
		<li id="menu-item-7813" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/kiamwangi/">Kiamwangi</a></li>
		<li id="menu-item-6926" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/">Ritual Chocolate Anyetsu Bar</a></li>
	</ul>
</li>
	<li id="menu-item-5802" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu_central-america.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6289" class="pushup menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Central America</h4></a></li>
		<li id="menu-item-6137" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/el-banco/">El Banco</a></li>
		<li id="menu-item-7185" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/fincaisnul/">Finca Isnul</a></li>
		<li id="menu-item-7449" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/hartmann-honey/">Hartmann Honey</a></li>
		<li id="menu-item-7830" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/hartmann-geisha/">Hartmann Geisha</a></li>
		<li id="menu-item-6139" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/mundani/">Mundani</a></li>
		<li id="menu-item-7447" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/ojo-de-agua-2/">Ojo de Agua</a></li>
		<li id="menu-item-7809" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/4mujere/">4 Mujeres</a></li>
		<li id="menu-item-7810" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/el-aguila-bourbon/">El Aguila Bourbon</a></li>
		<li id="menu-item-7811" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/el-aguila-pacamara/">El Aguila Pacamara</a></li>
	</ul>
</li>
	<li id="menu-item-5804" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu_south-america.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6288" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>South America</h4></a></li>
	</ul>
</li>
	<li id="menu-item-5808" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu_pacific.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6290" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Pacific</h4></a></li>
		<li id="menu-item-6152" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/ulos-batak/">Ulos Batak</a></li>
	</ul>
</li>
	<li id="menu-item-5809" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/07/espressos_blends.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6291" class="pushup menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Espressos, Blends, <br/>&#038; Decaf</h4></a></li>
		<li id="menu-item-6144" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/anyetsu-espresso/">Anyetsu Espresso</a></li>
		<li id="menu-item-6145" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/espresso-del-fuego/">Espresso del Fuego</a></li>
		<li id="menu-item-6146" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/espresso-novo/">Espresso Novo</a></li>
		<li id="menu-item-6147" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/four-leftys/">Four Leftys</a></li>
		<li id="menu-item-6149" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/novo-decaf/">Novo Decaf</a></li>
		<li id="menu-item-6150" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/novo-decaf-espresso/">Novo Decaf Espresso</a></li>
	</ul>
</li>
	<li id="menu-item-6230" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/shop/"><div class="menufeautured"><img src="/wp-content/uploads/2013/07/Novo-Roaster-Low-19.jpg" alt="menu image"/><span>View all Coffees</span><p></p></div></a></li>
</ul>
</li>
<li id="menu-item-5570" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/wholesale/"><strong>Wholesale</strong></a></li>
<li id="menu-item-6109" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/news-events/"><strong>News + Events</strong></a></li>
<li id="menu-item-5569" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/about/"><strong>About</strong></a></li>
<li id="menu-item-5614" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-7 current_page_item"><a href="http://novocoffee.com/contact-locations/"><strong>Contact + Locations</strong></a></li>
</ul>			</div>

			</div>
		</div>

	</header>




<div class = "outerpagewrap">
				<div class="pagewrap" style="background: #332822 url(http://novocoffee.com/wp-content/uploads/2013/07/hero_slim_contact52.jpg) no-repeat center center;">
				<div class="pagecontent">
			<div class="pagecontentContent">
				<h1>Contact + Locations</h1>
				<!-- <p></p> -->
			</div>
		</div>

	</div>
</div>


<div id="mainwrap">
	<div id="main" class="clearfix">

		<div class="pad"></div>

		<div class="content fullwidth">





									<div class="one_third ">
							<div class="contact">
								<div class="image">
									<img width="466" height="700" src="http://novocoffee.com/wp-content/uploads/2013/06/roastery.jpg" class="attachment-full wp-post-image" alt="roastery" />								</div>
								<div class="title">
									Roastery																	</div>
								<p class="description">
									3008 Larimer St.<br />
Denver, CO 80205<br />
								</p>
								<p class="description">
									(303) 295-7678								</p>
								<p class="description">
									Public Hours: Fridays 1pm - 4pm or by appointment								</p>
								<!-- <a href="" class="blue_button contact">show location</a> -->
							</div>
						</div>
																	<div class="one_third ">
							<div class="contact">
								<div class="image">
									<img width="681" height="1024" src="http://novocoffee.com/wp-content/uploads/2013/06/gallery_10.jpg" class="attachment-full wp-post-image" alt="gallery_10" />								</div>
								<div class="title">
									Novo Coffee Glenarm																		<a target="_blank" class="twitterlink" href="https://twitter.com/NovoCoffeeBars" title="Twitter"></a> <br style="clear: both;">
																</div>
								<p class="description">
									1600 Glenarm Pl<br />
Denver, CO 80202								</p>
								<p class="description">
									(303) 999-0077								</p>
								<p class="description">
									Hours: M-W 6:30am - 6pm, T-F 6:30am - 7pm, Sat 7:30am - 6pm, and Sun 8:30am - 4pm								</p>
								<!-- <a href="" class="blue_button contact">show location</a> -->
							</div>
						</div>
																	<div class="one_third last">
							<div class="contact">
								<div class="image">
									<img width="466" height="700" src="http://novocoffee.com/wp-content/uploads/2013/09/IMG_58701.jpg" class="attachment-full wp-post-image" alt="IMG_5870" />								</div>
								<div class="title">
									Novo Coffee Gilpin																	</div>
								<p class="description">
									1700 East 6th Avenue<br />
Denver, CO 80218								</p>
								<p class="description">
									(720) 524-7732								</p>
								<p class="description">
									Hours: Monday-Sunday, 7:30am-6:00pm								</p>
								<!-- <a href="" class="blue_button contact">show location</a> -->
							</div>
						</div>
																<div class="clear"></div>
										</br></br>

			<div class="postcontent">
				<div class="posttext">







					<form method="post" id="contatti">
						<div id="contactform">
							<h2>Contact Us</h2>

                <div class='gf_browser_chrome gform_wrapper gf-add-placeholder_wrapper' id='gform_wrapper_1' ><form method='post' enctype='multipart/form-data'  id='gform_1' class='gf-add-placeholder' action='/contact-locations/'>
                        <div class='gform_body'>
                            <ul id='gform_fields_1' class='gform_fields top_label description_below'><li id='field_1_1' class='gfield    gplaceholder           gfield_contains_required' ><label class='gfield_label' for='input_1_1'>Name<span class='gfield_required'>*</span></label><div class='ginput_container'><input name='input_1' id='input_1_1' type='text' value='' class='medium'  tabindex='1'   /></div></li><li id='field_1_2' class='gfield    gplaceholder           gfield_contains_required' ><label class='gfield_label' for='input_1_2'>Email<span class='gfield_required'>*</span></label><div class='ginput_container'><input name='input_2' id='input_1_2' type='text' value='' class='medium'  tabindex='2'   /></div></li><li id='field_1_3' class='gfield    gplaceholder           gfield_contains_required' ><label class='gfield_label' for='input_1_3'>Message<span class='gfield_required'>*</span></label><div class='ginput_container'><textarea name='input_3' id='input_1_3' class='textarea medium' tabindex='3'   rows='10' cols='50'></textarea></div></li><li id='field_1_4' class='gfield    gform_validation_container' ><label class='gfield_label' for='input_1_4'>Email</label><div class='ginput_container'><input name='input_4' id='input_1_4' type='text' value='' /></div><div class='gfield_description'>This field is for validation purposes and should be left unchanged.</div></li>
                            </ul></div>
        <div class='gform_footer top_label'> <input type='submit' id='gform_submit_button_1' class='button gform_button' value='Send' tabindex='4' onclick='if(window["gf_submitting_1"]){return false;}  window["gf_submitting_1"]=true; '/>
            <input type='hidden' class='gform_hidden' name='is_submit_1' value='1' />
            <input type='hidden' class='gform_hidden' name='gform_submit' value='1' />
            <input type='hidden' class='gform_hidden' name='gform_unique_id' value='' />
            <input type='hidden' class='gform_hidden' name='state_1' value='WyJhOjA6e30iLCJlZmE4YjRkYzNiNmQyYTlmMGI5ZmZkMGMwNjIwNWZiYSJd' />
            <input type='hidden' class='gform_hidden' name='gform_target_page_number_1' id='gform_target_page_number_1' value='0' />
            <input type='hidden' class='gform_hidden' name='gform_source_page_number_1' id='gform_source_page_number_1' value='1' />
            <input type='hidden' name='gform_field_values' value='' />

        </div>
                </form>
                </div><script type='text/javascript'> jQuery(document).ready(function(){jQuery(document).trigger('gform_post_render', [1, 1]) } ); </script>						</div>
					</form>
				</div>
			</div>

			<div class="map-container">
				<!--
					<div class="gmnoprint" style="position: absolute; left: 444px; top: 319px;"><div class="gmnoprint" style="position: relative; left: 0px; top: 0px; overflow: hidden; z-index: 10; width: 340px; height: 201px;"><div class="close" style="position: absolute; right: 18px; top: 20px; cursor: pointer; z-index: 10000;"></div><div style="position: absolute; left: 18px; top: 18px; width: 304px; height: 165px;"><div jstcache="0"><div class="iw" jstcache="0"><div class="ssstatus" id="ssheadermessage" style="display:none" jstcache="0"></div><div class="basics selected iwbg" id="basics" jstcache="0"><div jsdisplay="i.lba&amp;&amp;i.lba.admsg||i.sla&amp;&amp;i.sla.admsg||i.boost&amp;&amp;i.boost.admsg" class="adsmessage" jsattrs="dir:bidiDir(i.lba?i.lba.admsg:i.sla?i.sla.admsg:i.boost.admsg,true);" jscontent="raw:i.lba?i.lba.admsg:i.sla?i.sla.admsg:i.boost.admsg" jstcache="33" style="display: none;"></div><div jsdisplay="i.title||m.laddr" class="title maxtitle" jsattrs="class.maxtitle?i.place_url;" jstcache="35" style=""><span jsdisplay="m.travel_ads" jstrackrate="100" jsattrs="jstrack:m.travel_ads.ei;ved:m.travel_ads.ved;" id="travel_tpl" oi="infowindow" jsaction="hp.onTriggerInfoWindow" style="float: right; margin-left: 12px; position: relative; font-weight: normal; font-size: 13px; display: none;" jstcache="36"><span class="hotel-pricefield" jstcache="0"><span class="hotel-price" jscontent="m.travel_ads.price" dir="ltr" jstcache="52"></span><span class="hotel-price-arrow" jstcache="0">▼</span></span></span><span jstcache="0"><img jsdisplay="i.alias_type==0" src="/mapfiles/transparent.png" class="iw-home-icon iw-alias-icon" jstcache="42" style="display: none;"><img jsdisplay="i.alias_type==1" src="/mapfiles/transparent.png" class="iw-work-icon iw-alias-icon" jstcache="43" style="display: none;"></span><span jsdisplay="i.title" jstcache="37" style=""><span jsdisplay="!features.embed" jsvars="$show_backlink:i.linkback&amp;&amp;!(i.lba&amp;&amp;i.lba.cr8Line1);" jstcache="44" style=""><a jsdisplay="$show_backlink" href="#" jsattrs="href:i.linkback;target:i.lba?'_blank':'_self';dir:bidiDir(i.title,true);" jscontent="raw:i.title" jstcache="53" target="_blank" style="display: none;"></a><span jsdisplay="!$show_backlink" id="place-title" jsattrs="dir:bidiDir(i.title,true);" jscontent="raw:i.title" jstcache="54" dir="ltr" style=""><b>Novo</b> <b>Coffee</b></span><a jsdisplay="!$show_backlink&amp;&amp;i.place_url" jsattrs="href:i.place_url+'&amp;dtab=2';id:'iwreviews_'+m.id;jsaction:i.link_jsaction;" log="miwd" jstcache="55" id="iwreviews_B" jsaction="" href="http://maps.google.com/local_url?dq=novo+coffee&amp;q=https://plus.google.com/101867119043098729134/about%3Fgl%3Dus%26hl%3Den&amp;s=ANYYN7nIzvnfcgeLWsF85UuMZZj7H-vRoQ&amp;dtab=2" target="_blank" style=""><span class="moreinfo" msgid="10518" jstcache="0">more info</span></a></span><span jsdisplay="features.embed" jstcache="45" style="display: none;"><a jsdisplay="i.place_url" href="#" jsattrs="href:i.place_url;dir:bidiDir(i.title,true);" jscontent="raw:i.title" target="_parent" jstcache="56"></a><span jsdisplay="!i.place_url" jsattrs="dir:bidiDir(i.title,true);" jscontent="raw:i.title" id="place-title" jstcache="57"></span></span></span><a jsdisplay="!i.title&amp;&amp;m.laddr" jsattrs="href:i.place_url+'&amp;dtab=0';id:'iwlink_'+m.id;jsaction:i.link_jsaction;" log="miwd" jstcache="38" target="_blank" style="display: none;"><span msgid="10009" jstcache="0">Address:</span></a><span class="no-wrap" jstcache="0"><img jsdisplay="i.transitSchedules&amp;&amp;i.transitSchedules.stationSchedules&amp;&amp;i.transitSchedules.stationSchedules.whlchrAccess" src="//maps.gstatic.com/mapfiles/transparent.png" class="dir-wheelchair-icon" alt="Station is accessible" title="Station is accessible" jstcache="46" style="display: none;"><img jsdisplay="m.b_s&lt;5&amp;&amp;!has('i.alias_type')&amp;&amp;!features.remove_contents_for_cn" class="noprint unstarred" src="//maps.gstatic.com/mapfiles/transparent.png" jsattrs="class.starred?i.is_starred;class.unstarred?!i.is_starred;" id="iwstar" jsaction="si.toggleInfoWindowStarring" log="si_iw" jstcache="47" style=""></span><span jstcache="0">‎</span></div><div jstcache="0"><span jsdisplay="i.old_business_location&amp;&amp;i.old_business_url" id="iwoldbusiness" jstcache="39" style="display: none;"><span msgid="14709" style="color: grey" jstcache="0">Relocated from&nbsp;<a target="_blank" jsattrs="href:i.old_business_url;id:'iwoldbusiness_'+m.id;" jscontent="raw:i.old_business_location" log="miwd" jsaction="" phv="%1$s" style="color: grey" jstcache="58"></a></span></span><span jsdisplay="i.new_business_location&amp;&amp;i.new_business_url" id="iwnewbusiness" jstcache="40" style="display: none;"><span msgid="14708" style="color: grey" jstcache="0">Relocated to&nbsp;<a target="_blank" jsattrs="href:i.new_business_url;id:'iwnewbusiness_'+m.id;" jscontent="raw:i.new_business_location" log="miwd" jsaction="" phv="%1$s" style="color: grey" jstcache="59"></a></span></span><span jsdisplay="m&amp;&amp;m.ss&amp;&amp;has('m.ss.status')&amp;&amp;m.ss.status&gt;0" id="placestatus" jstcache="41" style="display: none;"><span jscontent="m.ss.statusmsg" jstcache="48"></span><span jsdisplay="m.ss.status&gt;=1&amp;&amp;m.ss.status&lt;=5||m.ss.status&gt;=12&amp;&amp;m.ss.status&lt;=15" class="rev secondary" jstcache="49">&nbsp;<a href="javascript:void(0)" msgid="12951" jsaction="ss.notTrueRestore" id="ssnottruerestore" jstcache="0">Not true?</a></span><span jsdisplay="m.ss.status==6" class="rev secondary" jstcache="50">&nbsp;<a href="javascript:void(0)" msgid="13206" jsaction="ss.showEditHistory" id="sshistory" jstcache="0">Show all edits</a></span><span jsdisplay="m.ss.status&gt;=7&amp;&amp;m.ss.status&lt;=11" class="rev secondary" jstcache="51">&nbsp;<a href="javascript:void(0)" msgid="12951" jsaction="ss.notTrueRap" id="ssnottruerap" jstcache="0">Not true?</a></span></span></div><div class="reviews" jstcache="0"><table id="biwtable" jstcache="0"><tbody jstcache="0"><tr jstcache="0"><td class="basicinfo" jstcache="0"><div class="addr" jsattrs="class.addr?!(i.lba&amp;&amp;i.lba.cr8Line1);" jstcache="60"><div jsdisplay="m.approx&amp;&amp;!(m.service_area&amp;&amp;m.service_area.type==1)" class="iscentroid" msgid="10779" id="iscentroid" jstcache="73" style="display: none;">Placement on map is approximate</div><span jsvars="$title:i.title;$laddr:m.laddr;$addrurl:i.addressUrl;$features:features;" jstcache="74"><div jsfor="$addrline:i.addressLines;" jstcache="93" style="" jsinstance="0"><span jsdisplay="$title||!$laddr||!$addrurl" jsattrs="dir:bidiDir($addrline,true);class:m&amp;&amp;m.ss&amp;&amp;has('m.ss.status')&amp;&amp;m.ss.status==13?'unver':'';" jscontent="$addrline" jstcache="109" dir="ltr" class="" style="">1600 Glenarm Place</span><a jsdisplay="$features.embed&amp;&amp;!$title&amp;&amp;$laddr&amp;&amp;$addrurl" href="#" jsattrs="href:$addrurl;" target="_parent" style="text-decoration: underline; display: none;" jstcache="110"><span jsattrs="dir:bidiDir($addrline,true);" jscontent="$addrline" jstcache="117"></span></a></div><div jsfor="$addrline:i.addressLines;" jstcache="93" style="" jsinstance="*1"><span jsdisplay="$title||!$laddr||!$addrurl" jsattrs="dir:bidiDir($addrline,true);class:m&amp;&amp;m.ss&amp;&amp;has('m.ss.status')&amp;&amp;m.ss.status==13?'unver':'';" jscontent="$addrline" jstcache="109" dir="ltr" class="" style="">Denver, Colorado 80202</span><a jsdisplay="$features.embed&amp;&amp;!$title&amp;&amp;$laddr&amp;&amp;$addrurl" href="#" jsattrs="href:$addrurl;" target="_parent" style="text-decoration: underline; display: none;" jstcache="110"><span jsattrs="dir:bidiDir($addrline,true);" jscontent="$addrline" jstcache="117"></span></a></div><div jsdisplay="$features.embed&amp;&amp;!i.title&amp;&amp;!m.laddr&amp;&amp;size('i.addressLines')!=0&amp;&amp;i.place_url" jstcache="94" style="display: none;"><br jstcache="0"><a href="#" jsattrs="href:i.place_url;" msgid="14276" target="_parent" jstcache="111">Get directions</a></div></span></div><div jsdisplay="i.parent_title&amp;&amp;i.parent_url" id="iwparentpage" jstcache="61" style="display: none;"><a class="a" target="_blank" jsattrs="href:i.parent_url;" jscontent="raw:i.parent_title" log="miwd" jsaction="" jstcache="75"></a><span jstcache="0">‎</span></div><div jstcache="0"><div jsfor="$this:i.phones;" jsvars="$type:$this.type;$mobile:features.mobile;" jsattrs="class:m&amp;&amp;m.ss&amp;&amp;has('m.ss.status')&amp;&amp;m.ss.status==13?'unver':'phone';" jstcache="76" jsinstance="*0" class="phone" style=""><span jsdisplay="!$mobile" jscontent="$this.number" dir="ltr" jstcache="95" style="">(303) 295-7678</span><span jsdisplay="$mobile" dir="ltr" jstcache="96" style="display: none;"><a href="#" jsattrs="href:'tel:'+$this.number;" jscontent="$this.number" jstcache="112" target="_blank"></a></span><span jsdisplay="$type" class="type" jscontent="'&nbsp;-&nbsp;'+$type" jstcache="97" style="display: none;"></span></div></div><div jsdisplay="i.hp&amp;&amp;i.hp.url&amp;&amp;!(i.lba&amp;&amp;i.lba.cr8Line1)" id="iwhomepage" jstcache="62" style=""><a class="a" jsattrs="href:i.lba&amp;&amp;i.linkback?i.linkback:i.hp.url;dir:bidiDir(i.hp.domain,true);target:features.embed?'_parent':'_blank';" jscontent="raw:i.hp.domain" jstcache="77" dir="ltr" target="_blank" href="http://maps.google.com/local_url?dq=novo+coffee&amp;q=http://www.novocoffee.com&amp;oi=miw&amp;sa=X&amp;ct=miw_link&amp;cd=1&amp;cad=homepage,cid:4913617084980292849&amp;ei=OvbeUaWwDYeOwgG17IH4Ag&amp;s=ANYYN7nTR_hOi6aTsX_EOZA0d_sc57ddHQ">novocoffee.com</a><span jstcache="0">‎</span></div><div jsdisplay="m.service_area&amp;&amp;m.service_area.type==1" class="srva" id="iwsrva" jstcache="64" style="display: none;"><div jstcache="0"><span class="b" msgid="13074" jstcache="0">Area served:</span>&nbsp;<span jscontent="m.service_area.name" id="iwsrvaname" jstcache="98"></span><span jsdisplay="m.service_area&amp;&amp;m.service_area.type==0&amp;&amp;size('m.service_area.attribution')!=0" jstcache="99">&nbsp;-&nbsp;</span></div><div id="iwsrvaattr" jstcache="0"></div></div><div jsdisplay="i.hc" class="rescat" jstcache="65" style="display: none;"><span msgid="10528" jstcache="0">Category:</span><span jsattrs="dir:bidiDir(i.hc,true);" jscontent="raw:i.hc" jstcache="78"></span></div><div jsdisplay="i.lba&amp;&amp;(i.lba.cr8Line1||i.lba.cr8Line2||i.lba.cr8Line3)" class="creative-text" jstcache="66" style="display: none;"><div jsdisplay="i.lba.cr8Line1" class="cr8ln1" align="left" jsattrs="dir:bidiDir(i.lba.cr8Line1,true);" jstcache="79"><a jsdisplay="i.linkback||i.hp&amp;&amp;i.hp.url" href="#" jsattrs="href:i.linkback?i.linkback:i.hp.url;dir:bidiDir(i.lba.cr8Line1,true);" jscontent="raw:i.lba.cr8Line1" jstcache="100" target="_blank"></a></div><div jsdisplay="i.lba&amp;&amp;i.lba.cr8Line2" align="left" jsattrs="dir:bidiDir(i.lba.cr8Line2,true);" jscontent="raw:i.lba.cr8Line2" jstcache="80"></div><div jsdisplay="i.lba&amp;&amp;i.lba.cr8Line3" align="left" jsattrs="dir:bidiDir(i.lba.cr8Line3,true);" jscontent="raw:i.lba.cr8Line3" jstcache="81"></div><span jsdisplay="i.lba&amp;&amp;i.lba.cr8Line1&amp;&amp;i.hp&amp;&amp;i.hp.url" class="url" jsattrs="dir:bidiDir(i.hp.domain,true);" jscontent="raw:i.hp.domain" jstcache="82"></span><span jstcache="0">‎</span></div><div jsdisplay="i.is_unverified&amp;&amp;(!m.ss||!has('m.ss.status')||m.ss.status==0)" class="unver" msgid="2290" jstcache="67" style="display: none;">Unverified listing</div><div jsdisplay="i.dscr" align="left" jsattrs="dir:i.dscr_dir?i.dscr_dir:'ltr';" jscontent="raw:i.dscr" jstcache="68" style="display: none;"></div><div jsdisplay="m.description" align="left" jscontent="raw:m.description" jstcache="69" style="display: none;"></div><span jsdisplay="has('i.reviews')" jsvars="star_score_e3:i.star_score_e3;" class="rev secondary" jstcache="70" style=""><span jsdisplay="star_score_e3&gt;0" jstcache="15" style="display: none;"> <span class="star-score" jscontent="star_score_e3%1000==0?''+star_score_e3/1000+'.0':''+star_score_e3/1000" jstcache="16"></span> <span class="star-overall" jstcache="0"><span jsdisplay="star_score_e3&lt;250" class="star-empty" jstcache="17"></span><span jsdisplay="star_score_e3&gt;=250&amp;&amp;star_score_e3&lt;750" class="star-half" jstcache="18"></span><span jsdisplay="star_score_e3&gt;=750" class="star-full" jstcache="19"></span><span jsdisplay="star_score_e3&lt;1250" class="star-empty" jstcache="20"></span><span jsdisplay="star_score_e3&gt;=1250&amp;&amp;star_score_e3&lt;1750" class="star-half" jstcache="21"></span><span jsdisplay="star_score_e3&gt;=1750" class="star-full" jstcache="22"></span><span jsdisplay="star_score_e3&lt;2250" class="star-empty" jstcache="23"></span><span jsdisplay="star_score_e3&gt;=2250&amp;&amp;star_score_e3&lt;2750" class="star-half" jstcache="24"></span><span jsdisplay="star_score_e3&gt;=2750" class="star-full" jstcache="25"></span><span jsdisplay="star_score_e3&lt;3250" class="star-empty" jstcache="26"></span><span jsdisplay="star_score_e3&gt;=3250&amp;&amp;star_score_e3&lt;3750" class="star-half" jstcache="27"></span><span jsdisplay="star_score_e3&gt;=3750" class="star-full" jstcache="28"></span><span jsdisplay="star_score_e3&lt;4250" class="star-empty" jstcache="29"></span><span jsdisplay="star_score_e3&gt;=4250&amp;&amp;star_score_e3&lt;4750" class="star-half" jstcache="30"></span><span jsdisplay="star_score_e3&gt;=4750" class="star-full" jstcache="31"></span></span> </span><span jsdisplay="i.zagat_score" jstcache="119" style="display: none;"> <b class="zagat-score" jscontent="i.zagat_score" jstcache="120"></b><span jsdisplay="i.zagat_official" jstcache="121"> <span class="zagat-label" jstcache="0">ZAGAT</span> · </span> </span>&nbsp;<a jsdisplay="!features.embed&amp;&amp;i.place_url" jsattrs="href:i.place_url+'&amp;dtab=2';id:'iwreviews_'+m.id;jsaction:i.link_jsaction;" log="miwd" jstcache="85" id="iwreviews_B" jsaction="" href="http://maps.google.com/local_url?dq=novo+coffee&amp;q=https://plus.google.com/101867119043098729134/about%3Fgl%3Dus%26hl%3Den&amp;s=ANYYN7nIzvnfcgeLWsF85UuMZZj7H-vRoQ&amp;dtab=2" target="_blank" style=""><span jsdisplay="i.reviews==1" msgid="10327" jstcache="101" style="">1 review</span><span jsdisplay="i.reviews!=1" msgid="10328" jstcache="102" style="display: none;"><span jscontent="i.reviews" phv="%1$d" jstcache="113"></span> reviews</span></a><a jsdisplay="features.embed" jsattrs="href:i.place_url+'&amp;dtab=2';" target="_parent" jstcache="86" style="display: none;"><span jsdisplay="i.reviews==1" msgid="10327" jstcache="101">1 review</span><span jsdisplay="i.reviews!=1" msgid="10328" jstcache="102"><span jscontent="i.reviews" phv="%1$d" jstcache="113"></span> reviews</span></a><span jsdisplay="!features.embed&amp;&amp;!i.place_url" jstcache="87" style="display: none;"><span jsdisplay="i.reviews==1" msgid="10327" jstcache="101">1 review</span><span jsdisplay="i.reviews!=1" msgid="10328" jstcache="102"><span jscontent="i.reviews" phv="%1$d" jstcache="113"></span> reviews</span></span><span jsdisplay="features.embed&amp;&amp;!i.place_url" jstcache="88" style="display: none;"><span jsdisplay="i.reviews==1" msgid="10327" jstcache="101">1 review</span><span jsdisplay="i.reviews!=1" msgid="10328" jstcache="102"><span jscontent="i.reviews" phv="%1$d" jstcache="113"></span> reviews</span></span></span><span jsdisplay="!has('i.reviews')&amp;&amp;m.cid&amp;&amp;!i.dscr&amp;&amp;i.zrvOk" class="rev secondary" jstcache="71" style="display: none;"><a jsdisplay="i.loginUrl" jsattrs="href:i.loginUrl;id:'iwwritereview_'+m.id;" msgid="14793" log="miwd" jsaction="app.showMoreInfo" jstcache="89" target="_blank">Be the first to review</a><span jsdisplay="!i.enable_five_stars" jstcache="90"><a jsdisplay="!i.loginUrl" jsattrs="href:i.place_url+'&amp;dtab=2&amp;action=open';id:'iwwritereview_'+m.id;" msgid="14793" log="miwd" jstcache="103" target="_blank">Be the first to review</a></span><span jsdisplay="i.enable_five_stars" jstcache="91"><a jsdisplay="!i.loginUrl" jsattrs="href:i.write_review_url+'&amp;dtab=2&amp;action=open';id:'iwwritereview_'+m.id;" msgid="14793" log="miwd" jstcache="104" target="_blank">Be the first to review</a></span></span></td><td style="vertical-align:top" jstcache="0"><div jsdisplay="i.photoUrl" jstcache="72" style=""><div jsattrs="id:i.lba&amp;&amp;i.lba.cr8Line1?'adimg':'';" jstcache="92" id=""><div jsdisplay="i.photoType==1" class="rimg" jstcache="105" style=""><span jsdisplay="i.photoType==1" jsattrs="id:'iwphoto_'+m.id;" log="miwd" jstcache="114" id="iwphoto_B" style=""><img jsattrs="src:i.photoUrl;" alt="Photo" border="0" jstcache="118" src="https://lh3.googleusercontent.com/-pdk_6_aaMyM/UY2TPswvUTI/AAAAAAAAAOU/MYS-EpEBSZo/s90/photo.jpg"></span></div><div jsdisplay="i.photoType==2&amp;&amp;!(m.service_area&amp;&amp;m.service_area.type==1)&amp;&amp;(!m.cityblock_info||m.cityblock_info&amp;&amp;m.cityblock_info.pano_present)" class="rimg" jstcache="106" style="display: none;"><a jsdisplay="i.photoType==2" href="javascript:void(0)" id="svthumbnail" jsaction="sv.showFromInfoWindow" jstcache="115"><div id="thumbnail" style="width: 90px; height: 68px; background-color: rgb(239, 239, 239); display: none; background-position: initial initial; background-repeat: initial initial;" jstcache="0"><img jsattrs="src:i.photoUrl;" border="0" style="width:90px;height:68px" jstcache="118"></div></a><div class="imcaption" jstcache="0"><a href="javascript:void(0)" msgid="11783" id="svcaption" jsaction="sv.showFromInfoWindow" jstcache="0" style="display: none;">Street view</a></div></div><div jsdisplay="i.photoType==3" class="gimg bdr" jstcache="108" style="display: none;"><img jsattrs="src:i.photoUrl;width:i.photoWidth;height:i.photoHeight;" alt="Photo" border="0" jstcache="116"></div></div></div></td></tr></tbody></table></div></div><div id="mpldiv" jstcache="0"></div><div class="wizardbar" jstcache="0"></div><div id="wizard" firstcard="actions" jstcache="0"><div class="wizard actheight" id="actions"><div jsdisplay="$this.showActions"><div id="appstatus" jsdisplay="$status" jsvalues="innerHTML:$status" class="status"></div><span jsselect="$m.elms"><span jsdisplay="$this==1"><div transclude="hyphensep"></div></span><span jsdisplay="$this==2"><div transclude="breaksep"></div></span><span jsdisplay="$this==3"><div transclude="dmulti"></div></span><span jsdisplay="$this==4"><div transclude="dsingle"></div></span><span jsdisplay="$this==5"><div transclude="stplink"></div></span><span jsdisplay="$this==6"><div transclude="snlink"></div></span><span jsdisplay="$this==9"><div transclude="saveplacelink"></div></span><span jsdisplay="$this==10"><div transclude="svlink"></div></span><span jsdisplay="$this==12"><div transclude="ztlink"></div></span></span></div><div id="actbar-iw-wrapper" jsskip="1"><span id="actbar-none" class="actbar" markerid="iw" panelid="actbar-panel-none" jsvalues="@unique-id: $this.uniqueId;@id: 'actbar-'+$this.uniqueId;@markerid: $this.markerId;@panelId: 'actbar-panel-'+$this.uniqueId;" jstcache="122" unique-id="none"><span id="actbar-btns-none" jsvalues="@id:'actbar-btns-'+$this.uniqueId" jsdisplay="$this.visible!='none'" jsskip="1" jstcache="123" style=""><ul class="actbar-list" jstcache="0"><li class="actbar-btn" jsaction="ab.topLevelClick" action="directions" jsdisplay="$this.hasDirections" jstcache="124" style=""><span class="actbar-text" jstcache="0">Directions</span></li><li class="actbar-btn" jsaction="ab.topLevelClick" action="actbar-sn" jsdisplay="$this.hasSearchNearby" jstcache="125" style=""><span class="actbar-text" jstcache="0">Search nearby</span></li><li class="actbar-btn" jsaction="ab.topLevelClick" action="actbar-saveto" jsdisplay="$this.hasSaveTo" jstcache="126" style=""><span class="actbar-text" jstcache="0">Save to map</span></li><li class="actbar-btn" jsaction="ab.topLevelClick" jsselect="$this.topLevelActions" jsdisplay="$count" style="display: none;" jsvalues="@action:$this.action" jstcache="127" jsinstance="*0"><span class="actbar-text" jscontent="$this.text" jstcache="129"></span></li><li class="actbar-btn" jsaction="ab.topLevelClick" action="actbar-more" jsdisplay="!$this.hideMoreButton" jstcache="128" style=""><span class="actbar-text" jstcache="0">more</span><span class="actbar-arrow" jstcache="0"><img src="//maps.gstatic.com/mapfiles/transparent.png" class="arrow-down" jstcache="0"></span></li></ul></span></span><span id="actbar-panel-none" class="actbar" jsvalues="@unique-id: $this.uniqueId;@markerid: $this.markerId;@id: 'actbar-panel-' + $this.uniqueId;@panelId: 'actbar-panel-' + $this.uniqueId;" jstcache="130" unique-id="none" markerid="iw" panelid="actbar-panel-none"><span jsvalues="@id:'actbar-sn-' + $this.uniqueId;" jstcache="131" id="actbar-sn-none"><span jsdisplay="$this.visible=='actbar-sn'" jstcache="133" style="display: none;"></span></span><span jsvalues="@id:'actbar-saveto-' + $this.uniqueId;" jstcache="132" id="actbar-saveto-none"><span jsdisplay="$this.visible=='actbar-saveto'" jstcache="134" style="display: none;"></span></span></span></div></div></div><div jsattrs="id:'iwad'+m.cid;" jstcache="32" id="iwad4913617084980292849"><div class="ads noprint" id="iwad_css" jstcache="0"><div id="iwad_gradient" jstcache="0"></div><div id="iwad_container" style="display:none" jstcache="0"><div class="adsmessage v3" msgid="7131" id="iwad_origin" jstcache="0">Ad</div><div id="iwad_contents" jstcache="0"></div></div></div></div></div></div></div></div><div style="width: 97px; height: 96px; overflow: hidden; z-index: 1; position: absolute; left: 128px; top: 178px;"><img src="//maps.gstatic.com/mapfiles/iw3.png" style="position: absolute; left: 0px; top: -691px; width: 690px; height: 786px; border: 0px; padding: 0px; margin: 0px;"></div><div style="position: absolute; left: 0px; top: 0px; width: 340px; height: 201px; background-color: white; border: 1px solid rgb(171, 171, 171);"></div></div>
				-->
				<!-- <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border: 7px solid #559fd3; box-sizing:border-box;-moz-box-sizing:border-box;" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Novo+Coffee,+1600+Glenarm+Pl,+Denver,+Colorado+80202&amp;aq=&amp;sll=38.997934,-105.550567&amp;sspn=10.598606,10.371094&amp;ie=UTF8&amp;hq=Novo+Coffee,&amp;hnear=1600+Glenarm+Place+Apartments,+1600+Glenarm+Pl,+Denver,+Colorado+80202&amp;t=m&amp;ll=39.752931,-104.988441&amp;spn=0.031674,0.077162&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe> -->
			</div>
		</div>

</div>
</div>

<footer>
	<div id="footer">
		<div class="totop">
			<div class="gototop">
				<div class="arrowgototop">
				</div>
			</div>
		</div>
		<div class="fshadow"></div>
			<div id="footerinside">
				<div class="one_fourth first">
					<h3>A Bit about us</h3>
					<p class="a_bit_about">Family owned.<br>
</br>People focused.<br>
</br>Quality driven. </p>
					<a href="/contact-locations/"><img src="/wp-content/themes/mercor/images/link_locations.png" alt="Locations"></a>
				</div>
				<div class="one_fourth second">
					<h3>Join the Community</h3>
					<a target="_blank" class="facebooklink" href="https://www.facebook.com/novocoffee" title="Facebook"></a>
					<a target="_blank" class="twitterlink" href="https://twitter.com/novocoffee" title="Twitter"></a>
				</div>
				<div class="one_fourth third">
					<h3 class="sitemap">Sitemap</h3>
					<div class="sitemap">
													<div class="menu-footer-container"><ul id="menu-footer" class="footernav"><li id="menu-item-5545" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5545"><a href="http://novocoffee.com/">Home</a></li>
<li id="menu-item-5547" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5547"><a href="http://novocoffee.com/shop/">Shop</a></li>
<li id="menu-item-5674" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5674"><a href="http://novocoffee.com/wholesale/">Wholesale</a></li>
<li id="menu-item-5675" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5675"><a href="http://novocoffee.com/about/">About</a></li>
<li id="menu-item-5676" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5676"><a href="http://novocoffee.com/news-events/">News + Events</a></li>
<li id="menu-item-5677" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-7 current_page_item menu-item-5677"><a href="http://novocoffee.com/contact-locations/">Contact + Locations</a></li>
<li id="menu-item-5546" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5546"><a href="http://novocoffee.com/my-account/">My Account</a></li>
</ul></div>											</div>
				</div>
				<div class="one_fourth last fourth">
					<h3>Subscribe</h3>
					<a href="/subscriptions/" class="monthly_subscription">Sign up for a monthly coffee subscription</a>
					<form class="subscribe">
						<h4>Subscribe to our email newsletter!</h4>
						<input type="text" id="newsletter" name="email" placeholder="Email" value="" />
						<button class="blue_button tiny">subscribe</button>
					</form>
				</div>
			</div>

			<div id="footerbwrap">

				<div id="footerb">
					<div class="copyright">
						<h6>&copy; 2013 All rights reserved.
						<span class="fireant">| Site by: <a href="http://www.fireantstudio.com" target="_blank">FIREANT STUDIO</span></h6>
				</div>
			</div>
		</div>
	</div>
</footer>

<link rel='stylesheet' id='gforms_reset_css-css'  href='http://novocoffee.com/wp-content/plugins/gravityforms/css/formreset.css?ver=1.7.8' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_datepicker_css-css'  href='http://novocoffee.com/wp-content/plugins/gravityforms/css/datepicker.css?ver=1.7.8' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_formsmain_css-css'  href='http://novocoffee.com/wp-content/plugins/gravityforms/css/formsmain.css?ver=1.7.8' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_ready_class_css-css'  href='http://novocoffee.com/wp-content/plugins/gravityforms/css/readyclass.css?ver=1.7.8' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_browsers_css-css'  href='http://novocoffee.com/wp-content/plugins/gravityforms/css/browsers.css?ver=1.7.8' type='text/css' media='all' />
<script type='text/javascript' src='http://novocoffee.com/wp-content/themes/mercor/js/gistfile_pmc.js?ver=3.8.3'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.60'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/plugins/woocommerce/assets/js/jquery-placeholder/jquery.placeholder.min.js?ver=2.0.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"countries":"{\"AF\":[],\"AT\":[],\"BE\":[],\"BI\":[],\"CZ\":[],\"DE\":[],\"DK\":[],\"FI\":[],\"FR\":[],\"HU\":[],\"IS\":[],\"IL\":[],\"KR\":[],\"NL\":[],\"NO\":[],\"PL\":[],\"PT\":[],\"SG\":[],\"SK\":[],\"SI\":[],\"LK\":[],\"SE\":[],\"VN\":[],\"AU\":{\"ACT\":\"Australian Capital Territory\",\"NSW\":\"New South Wales\",\"NT\":\"Northern Territory\",\"QLD\":\"Queensland\",\"SA\":\"South Australia\",\"TAS\":\"Tasmania\",\"VIC\":\"Victoria\",\"WA\":\"Western Australia\"},\"BR\":{\"AC\":\"Acre\",\"AL\":\"Alagoas\",\"AP\":\"Amap\u00e1\",\"AM\":\"Amazonas\",\"BA\":\"Bahia\",\"CE\":\"Cear\u00e1\",\"DF\":\"Distrito Federal\",\"ES\":\"Esp\u00edrito Santo\",\"GO\":\"Goi\u00e1s\",\"MA\":\"Maranh\u00e3o\",\"MT\":\"Mato Grosso\",\"MS\":\"Mato Grosso do Sul\",\"MG\":\"Minas Gerais\",\"PA\":\"Par\u00e1\",\"PB\":\"Para\u00edba\",\"PR\":\"Paran\u00e1\",\"PE\":\"Pernambuco\",\"PI\":\"Piau\u00ed\",\"RJ\":\"Rio de Janeiro\",\"RN\":\"Rio Grande do Norte\",\"RS\":\"Rio Grande do Sul\",\"RO\":\"Rond\u00f4nia\",\"RR\":\"Roraima\",\"SC\":\"Santa Catarina\",\"SP\":\"S\u00e3o Paulo\",\"SE\":\"Sergipe\",\"TO\":\"Tocantins\"},\"CA\":{\"AB\":\"Alberta\",\"BC\":\"British Columbia\",\"MB\":\"Manitoba\",\"NB\":\"New Brunswick\",\"NL\":\"Newfoundland\",\"NT\":\"Northwest Territories\",\"NS\":\"Nova Scotia\",\"NU\":\"Nunavut\",\"ON\":\"Ontario\",\"PE\":\"Prince Edward Island\",\"QC\":\"Quebec\",\"SK\":\"Saskatchewan\",\"YT\":\"Yukon Territory\"},\"CN\":{\"CN1\":\"Yunnan \\\/ \u4e91\u5357\",\"CN2\":\"Beijing \\\/ \u5317\u4eac\",\"CN3\":\"Tianjin \\\/ \u5929\u6d25\",\"CN4\":\"Hebei \\\/ \u6cb3\u5317\",\"CN5\":\"Shanxi \\\/ \u5c71\u897f\",\"CN6\":\"Inner Mongolia \\\/ \u5167\u8499\u53e4\",\"CN7\":\"Liaoning \\\/ \u8fbd\u5b81\",\"CN8\":\"Jilin \\\/ \u5409\u6797\",\"CN9\":\"Heilongjiang \\\/ \u9ed1\u9f99\u6c5f\",\"CN10\":\"Shanghai \\\/ \u4e0a\u6d77\",\"CN11\":\"Jiangsu \\\/ \u6c5f\u82cf\",\"CN12\":\"Zhejiang \\\/ \u6d59\u6c5f\",\"CN13\":\"Anhui \\\/ \u5b89\u5fbd\",\"CN14\":\"Fujian \\\/ \u798f\u5efa\",\"CN15\":\"Jiangxi \\\/ \u6c5f\u897f\",\"CN16\":\"Shandong \\\/ \u5c71\u4e1c\",\"CN17\":\"Henan \\\/ \u6cb3\u5357\",\"CN18\":\"Hubei \\\/ \u6e56\u5317\",\"CN19\":\"Hunan \\\/ \u6e56\u5357\",\"CN20\":\"Guangdong \\\/ \u5e7f\u4e1c\",\"CN21\":\"Guangxi Zhuang \\\/ \u5e7f\u897f\u58ee\u65cf\",\"CN22\":\"Hainan \\\/ \u6d77\u5357\",\"CN23\":\"Chongqing \\\/ \u91cd\u5e86\",\"CN24\":\"Sichuan \\\/ \u56db\u5ddd\",\"CN25\":\"Guizhou \\\/ \u8d35\u5dde\",\"CN26\":\"Shaanxi \\\/ \u9655\u897f\",\"CN27\":\"Gansu \\\/ \u7518\u8083\",\"CN28\":\"Qinghai \\\/ \u9752\u6d77\",\"CN29\":\"Ningxia Hui \\\/ \u5b81\u590f\",\"CN30\":\"Macau \\\/ \u6fb3\u95e8\",\"CN31\":\"Tibet \\\/ \u897f\u85cf\",\"CN32\":\"Xinjiang \\\/ \u65b0\u7586\"},\"HK\":{\"HONG KONG\":\"Hong Kong Island\",\"KOWLOON\":\"Kowloon\",\"NEW TERRITORIES\":\"New Territories\"},\"IN\":{\"AP\":\"Andra Pradesh\",\"AR\":\"Arunachal Pradesh\",\"AS\":\"Assam\",\"BR\":\"Bihar\",\"CT\":\"Chhattisgarh\",\"GA\":\"Goa\",\"GJ\":\"Gujarat\",\"HR\":\"Haryana\",\"HP\":\"Himachal Pradesh\",\"JK\":\"Jammu and Kashmir\",\"JH\":\"Jharkhand\",\"KA\":\"Karnataka\",\"KL\":\"Kerala\",\"MP\":\"Madhya Pradesh\",\"MH\":\"Maharashtra\",\"MN\":\"Manipur\",\"ML\":\"Meghalaya\",\"MZ\":\"Mizoram\",\"NL\":\"Nagaland\",\"OR\":\"Orissa\",\"PB\":\"Punjab\",\"RJ\":\"Rajasthan\",\"SK\":\"Sikkim\",\"TN\":\"Tamil Nadu\",\"TR\":\"Tripura\",\"UT\":\"Uttaranchal\",\"UP\":\"Uttar Pradesh\",\"WB\":\"West Bengal\",\"AN\":\"Andaman and Nicobar Islands\",\"CH\":\"Chandigarh\",\"DN\":\"Dadar and Nagar Haveli\",\"DD\":\"Daman and Diu\",\"DL\":\"Delhi\",\"LD\":\"Lakshadeep\",\"PY\":\"Pondicherry (Puducherry)\"},\"ID\":{\"AC\":\"Daerah Istimewa Aceh\",\"SU\":\"Sumatera Utara\",\"SB\":\"Sumatera Barat\",\"RI\":\"Riau\",\"KR\":\"Kepulauan Riau\",\"JA\":\"Jambi\",\"SS\":\"Sumatera Selatan\",\"BB\":\"Bangka Belitung\",\"BE\":\"Bengkulu\",\"LA\":\"Lampung\",\"JK\":\"DKI Jakarta\",\"JB\":\"Jawa Barat\",\"BT\":\"Banten\",\"JT\":\"Jawa Tengah\",\"JI\":\"Jawa Timur\",\"YO\":\"Daerah Istimewa Yogyakarta\",\"BA\":\"Bali\",\"NB\":\"Nusa Tenggara Barat\",\"NT\":\"Nusa Tenggara Timur\",\"KB\":\"Kalimantan Barat\",\"KT\":\"Kalimantan Tengah\",\"KI\":\"Kalimantan Timur\",\"KS\":\"Kalimantan Selatan\",\"KU\":\"Kalimantan Utara\",\"SA\":\"Sulawesi Utara\",\"ST\":\"Sulawesi Tengah\",\"SG\":\"Sulawesi Tenggara\",\"SR\":\"Sulawesi Barat\",\"SN\":\"Sulawesi Selatan\",\"GO\":\"Gorontalo\",\"MA\":\"Maluku\",\"MU\":\"Maluku Utara\",\"PA\":\"Papua\",\"PB\":\"Papua Barat\"},\"MY\":{\"JHR\":\"Johor\",\"KDH\":\"Kedah\",\"KTN\":\"Kelantan\",\"MLK\":\"Melaka\",\"NSN\":\"Negeri Sembilan\",\"PHG\":\"Pahang\",\"PRK\":\"Perak\",\"PLS\":\"Perlis\",\"PNG\":\"Pulau Pinang\",\"SBH\":\"Sabah\",\"SWK\":\"Sarawak\",\"SGR\":\"Selangor\",\"TRG\":\"Terengganu\",\"KUL\":\"W.P. Kuala Lumpur\",\"LBN\":\"W.P. Labuan\",\"PJY\":\"W.P. Putrajaya\"},\"NZ\":{\"NL\":\"Northland\",\"AK\":\"Auckland\",\"WA\":\"Waikato\",\"BP\":\"Bay of Plenty\",\"TK\":\"Taranaki\",\"HB\":\"Hawke\u2019s Bay\",\"MW\":\"Manawatu-Wanganui\",\"WE\":\"Wellington\",\"NS\":\"Nelson\",\"MB\":\"Marlborough\",\"TM\":\"Tasman\",\"WC\":\"West Coast\",\"CT\":\"Canterbury\",\"OT\":\"Otago\",\"SL\":\"Southland\"},\"ZA\":{\"EC\":\"Eastern Cape\",\"FS\":\"Free State\",\"GP\":\"Gauteng\",\"KZN\":\"KwaZulu-Natal\",\"LP\":\"Limpopo\",\"MP\":\"Mpumalanga\",\"NC\":\"Northern Cape\",\"NW\":\"North West\",\"WC\":\"Western Cape\"},\"ES\":{\"C\":\"A Coru\u00f1a\",\"VI\":\"\u00c1lava\",\"AB\":\"Albacete\",\"A\":\"Alicante\",\"AL\":\"Almer\u00eda\",\"O\":\"Asturias\",\"AV\":\"\u00c1vila\",\"BA\":\"Badajoz\",\"PM\":\"Baleares\",\"B\":\"Barcelona\",\"BU\":\"Burgos\",\"CC\":\"C\u00e1ceres\",\"CA\":\"C\u00e1diz\",\"S\":\"Cantabria\",\"CS\":\"Castell\u00f3n\",\"CE\":\"Ceuta\",\"CR\":\"Ciudad Real\",\"CO\":\"C\u00f3rdoba\",\"CU\":\"Cuenca\",\"GI\":\"Girona\",\"GR\":\"Granada\",\"GU\":\"Guadalajara\",\"SS\":\"Guip\u00fazcoa\",\"H\":\"Huelva\",\"HU\":\"Huesca\",\"J\":\"Ja\u00e9n\",\"LO\":\"La Rioja\",\"GC\":\"Las Palmas\",\"LE\":\"Le\u00f3n\",\"L\":\"Lleida\",\"LU\":\"Lugo\",\"M\":\"Madrid\",\"MA\":\"M\u00e1laga\",\"ML\":\"Melilla\",\"MU\":\"Murcia\",\"NA\":\"Navarra\",\"OR\":\"Ourense\",\"P\":\"Palencia\",\"PO\":\"Pontevedra\",\"SA\":\"Salamanca\",\"TF\":\"Santa Cruz de Tenerife\",\"SG\":\"Segovia\",\"SE\":\"Sevilla\",\"SO\":\"Soria\",\"T\":\"Tarragona\",\"TE\":\"Teruel\",\"TO\":\"Toledo\",\"V\":\"Valencia\",\"VA\":\"Valladolid\",\"BI\":\"Vizcaya\",\"ZA\":\"Zamora\",\"Z\":\"Zaragoza\"},\"TH\":{\"TH-37\":\"Amnat Charoen (\u0e2d\u0e33\u0e19\u0e32\u0e08\u0e40\u0e08\u0e23\u0e34\u0e0d)\",\"TH-15\":\"Ang Thong (\u0e2d\u0e48\u0e32\u0e07\u0e17\u0e2d\u0e07)\",\"TH-14\":\"Ayutthaya (\u0e1e\u0e23\u0e30\u0e19\u0e04\u0e23\u0e28\u0e23\u0e35\u0e2d\u0e22\u0e38\u0e18\u0e22\u0e32)\",\"TH-10\":\"Bangkok (\u0e01\u0e23\u0e38\u0e07\u0e40\u0e17\u0e1e\u0e21\u0e2b\u0e32\u0e19\u0e04\u0e23)\",\"TH-38\":\"Bueng Kan (\u0e1a\u0e36\u0e07\u0e01\u0e32\u0e2c)\",\"TH-31\":\"Buri Ram (\u0e1a\u0e38\u0e23\u0e35\u0e23\u0e31\u0e21\u0e22\u0e4c)\",\"TH-24\":\"Chachoengsao (\u0e09\u0e30\u0e40\u0e0a\u0e34\u0e07\u0e40\u0e17\u0e23\u0e32)\",\"TH-18\":\"Chai Nat (\u0e0a\u0e31\u0e22\u0e19\u0e32\u0e17)\",\"TH-36\":\"Chaiyaphum (\u0e0a\u0e31\u0e22\u0e20\u0e39\u0e21\u0e34)\",\"TH-22\":\"Chanthaburi (\u0e08\u0e31\u0e19\u0e17\u0e1a\u0e38\u0e23\u0e35)\",\"TH-50\":\"Chiang Mai (\u0e40\u0e0a\u0e35\u0e22\u0e07\u0e43\u0e2b\u0e21\u0e48)\",\"TH-57\":\"Chiang Rai (\u0e40\u0e0a\u0e35\u0e22\u0e07\u0e23\u0e32\u0e22)\",\"TH-20\":\"Chonburi (\u0e0a\u0e25\u0e1a\u0e38\u0e23\u0e35)\",\"TH-86\":\"Chumphon (\u0e0a\u0e38\u0e21\u0e1e\u0e23)\",\"TH-46\":\"Kalasin (\u0e01\u0e32\u0e2c\u0e2a\u0e34\u0e19\u0e18\u0e38\u0e4c)\",\"TH-62\":\"Kamphaeng Phet (\u0e01\u0e33\u0e41\u0e1e\u0e07\u0e40\u0e1e\u0e0a\u0e23)\",\"TH-71\":\"Kanchanaburi (\u0e01\u0e32\u0e0d\u0e08\u0e19\u0e1a\u0e38\u0e23\u0e35)\",\"TH-40\":\"Khon Kaen (\u0e02\u0e2d\u0e19\u0e41\u0e01\u0e48\u0e19)\",\"TH-81\":\"Krabi (\u0e01\u0e23\u0e30\u0e1a\u0e35\u0e48)\",\"TH-52\":\"Lampang (\u0e25\u0e33\u0e1b\u0e32\u0e07)\",\"TH-51\":\"Lamphun (\u0e25\u0e33\u0e1e\u0e39\u0e19)\",\"TH-42\":\"Loei (\u0e40\u0e25\u0e22)\",\"TH-16\":\"Lopburi (\u0e25\u0e1e\u0e1a\u0e38\u0e23\u0e35)\",\"TH-58\":\"Mae Hong Son (\u0e41\u0e21\u0e48\u0e2e\u0e48\u0e2d\u0e07\u0e2a\u0e2d\u0e19)\",\"TH-44\":\"Maha Sarakham (\u0e21\u0e2b\u0e32\u0e2a\u0e32\u0e23\u0e04\u0e32\u0e21)\",\"TH-49\":\"Mukdahan (\u0e21\u0e38\u0e01\u0e14\u0e32\u0e2b\u0e32\u0e23)\",\"TH-26\":\"Nakhon Nayok (\u0e19\u0e04\u0e23\u0e19\u0e32\u0e22\u0e01)\",\"TH-73\":\"Nakhon Pathom (\u0e19\u0e04\u0e23\u0e1b\u0e10\u0e21)\",\"TH-48\":\"Nakhon Phanom (\u0e19\u0e04\u0e23\u0e1e\u0e19\u0e21)\",\"TH-30\":\"Nakhon Ratchasima (\u0e19\u0e04\u0e23\u0e23\u0e32\u0e0a\u0e2a\u0e35\u0e21\u0e32)\",\"TH-60\":\"Nakhon Sawan (\u0e19\u0e04\u0e23\u0e2a\u0e27\u0e23\u0e23\u0e04\u0e4c)\",\"TH-80\":\"Nakhon Si Thammarat (\u0e19\u0e04\u0e23\u0e28\u0e23\u0e35\u0e18\u0e23\u0e23\u0e21\u0e23\u0e32\u0e0a)\",\"TH-55\":\"Nan (\u0e19\u0e48\u0e32\u0e19)\",\"TH-96\":\"Narathiwat (\u0e19\u0e23\u0e32\u0e18\u0e34\u0e27\u0e32\u0e2a)\",\"TH-39\":\"Nong Bua Lam Phu (\u0e2b\u0e19\u0e2d\u0e07\u0e1a\u0e31\u0e27\u0e25\u0e33\u0e20\u0e39)\",\"TH-43\":\"Nong Khai (\u0e2b\u0e19\u0e2d\u0e07\u0e04\u0e32\u0e22)\",\"TH-12\":\"Nonthaburi (\u0e19\u0e19\u0e17\u0e1a\u0e38\u0e23\u0e35)\",\"TH-13\":\"Pathum Thani (\u0e1b\u0e17\u0e38\u0e21\u0e18\u0e32\u0e19\u0e35)\",\"TH-94\":\"Pattani (\u0e1b\u0e31\u0e15\u0e15\u0e32\u0e19\u0e35)\",\"TH-82\":\"Phang Nga (\u0e1e\u0e31\u0e07\u0e07\u0e32)\",\"TH-93\":\"Phatthalung (\u0e1e\u0e31\u0e17\u0e25\u0e38\u0e07)\",\"TH-56\":\"Phayao (\u0e1e\u0e30\u0e40\u0e22\u0e32)\",\"TH-67\":\"Phetchabun (\u0e40\u0e1e\u0e0a\u0e23\u0e1a\u0e39\u0e23\u0e13\u0e4c)\",\"TH-76\":\"Phetchaburi (\u0e40\u0e1e\u0e0a\u0e23\u0e1a\u0e38\u0e23\u0e35)\",\"TH-66\":\"Phichit (\u0e1e\u0e34\u0e08\u0e34\u0e15\u0e23)\",\"TH-65\":\"Phitsanulok (\u0e1e\u0e34\u0e29\u0e13\u0e38\u0e42\u0e25\u0e01)\",\"TH-54\":\"Phrae (\u0e41\u0e1e\u0e23\u0e48)\",\"TH-83\":\"Phuket (\u0e20\u0e39\u0e40\u0e01\u0e47\u0e15)\",\"TH-25\":\"Prachin Buri (\u0e1b\u0e23\u0e32\u0e08\u0e35\u0e19\u0e1a\u0e38\u0e23\u0e35)\",\"TH-77\":\"Prachuap Khiri Khan (\u0e1b\u0e23\u0e30\u0e08\u0e27\u0e1a\u0e04\u0e35\u0e23\u0e35\u0e02\u0e31\u0e19\u0e18\u0e4c)\",\"TH-85\":\"Ranong (\u0e23\u0e30\u0e19\u0e2d\u0e07)\",\"TH-70\":\"Ratchaburi (\u0e23\u0e32\u0e0a\u0e1a\u0e38\u0e23\u0e35)\",\"TH-21\":\"Rayong (\u0e23\u0e30\u0e22\u0e2d\u0e07)\",\"TH-45\":\"Roi Et (\u0e23\u0e49\u0e2d\u0e22\u0e40\u0e2d\u0e47\u0e14)\",\"TH-27\":\"Sa Kaeo (\u0e2a\u0e23\u0e30\u0e41\u0e01\u0e49\u0e27)\",\"TH-47\":\"Sakon Nakhon (\u0e2a\u0e01\u0e25\u0e19\u0e04\u0e23)\",\"TH-11\":\"Samut Prakan (\u0e2a\u0e21\u0e38\u0e17\u0e23\u0e1b\u0e23\u0e32\u0e01\u0e32\u0e23)\",\"TH-74\":\"Samut Sakhon (\u0e2a\u0e21\u0e38\u0e17\u0e23\u0e2a\u0e32\u0e04\u0e23)\",\"TH-75\":\"Samut Songkhram (\u0e2a\u0e21\u0e38\u0e17\u0e23\u0e2a\u0e07\u0e04\u0e23\u0e32\u0e21)\",\"TH-19\":\"Saraburi (\u0e2a\u0e23\u0e30\u0e1a\u0e38\u0e23\u0e35)\",\"TH-91\":\"Satun (\u0e2a\u0e15\u0e39\u0e25)\",\"TH-17\":\"Sing Buri (\u0e2a\u0e34\u0e07\u0e2b\u0e4c\u0e1a\u0e38\u0e23\u0e35)\",\"TH-33\":\"Sisaket (\u0e28\u0e23\u0e35\u0e2a\u0e30\u0e40\u0e01\u0e29)\",\"TH-90\":\"Songkhla (\u0e2a\u0e07\u0e02\u0e25\u0e32)\",\"TH-64\":\"Sukhothai (\u0e2a\u0e38\u0e42\u0e02\u0e17\u0e31\u0e22)\",\"TH-72\":\"Suphan Buri (\u0e2a\u0e38\u0e1e\u0e23\u0e23\u0e13\u0e1a\u0e38\u0e23\u0e35)\",\"TH-84\":\"Surat Thani (\u0e2a\u0e38\u0e23\u0e32\u0e29\u0e0e\u0e23\u0e4c\u0e18\u0e32\u0e19\u0e35)\",\"TH-32\":\"Surin (\u0e2a\u0e38\u0e23\u0e34\u0e19\u0e17\u0e23\u0e4c)\",\"TH-63\":\"Tak (\u0e15\u0e32\u0e01)\",\"TH-92\":\"Trang (\u0e15\u0e23\u0e31\u0e07)\",\"TH-23\":\"Trat (\u0e15\u0e23\u0e32\u0e14)\",\"TH-34\":\"Ubon Ratchathani (\u0e2d\u0e38\u0e1a\u0e25\u0e23\u0e32\u0e0a\u0e18\u0e32\u0e19\u0e35)\",\"TH-41\":\"Udon Thani (\u0e2d\u0e38\u0e14\u0e23\u0e18\u0e32\u0e19\u0e35)\",\"TH-61\":\"Uthai Thani (\u0e2d\u0e38\u0e17\u0e31\u0e22\u0e18\u0e32\u0e19\u0e35)\",\"TH-53\":\"Uttaradit (\u0e2d\u0e38\u0e15\u0e23\u0e14\u0e34\u0e15\u0e16\u0e4c)\",\"TH-95\":\"Yala (\u0e22\u0e30\u0e25\u0e32)\",\"TH-35\":\"Yasothon (\u0e22\u0e42\u0e2a\u0e18\u0e23)\"},\"US\":{\"AL\":\"Alabama\",\"AK\":\"Alaska\",\"AZ\":\"Arizona\",\"AR\":\"Arkansas\",\"CA\":\"California\",\"CO\":\"Colorado\",\"CT\":\"Connecticut\",\"DE\":\"Delaware\",\"DC\":\"District Of Columbia\",\"FL\":\"Florida\",\"GA\":\"Georgia\",\"HI\":\"Hawaii\",\"ID\":\"Idaho\",\"IL\":\"Illinois\",\"IN\":\"Indiana\",\"IA\":\"Iowa\",\"KS\":\"Kansas\",\"KY\":\"Kentucky\",\"LA\":\"Louisiana\",\"ME\":\"Maine\",\"MD\":\"Maryland\",\"MA\":\"Massachusetts\",\"MI\":\"Michigan\",\"MN\":\"Minnesota\",\"MS\":\"Mississippi\",\"MO\":\"Missouri\",\"MT\":\"Montana\",\"NE\":\"Nebraska\",\"NV\":\"Nevada\",\"NH\":\"New Hampshire\",\"NJ\":\"New Jersey\",\"NM\":\"New Mexico\",\"NY\":\"New York\",\"NC\":\"North Carolina\",\"ND\":\"North Dakota\",\"OH\":\"Ohio\",\"OK\":\"Oklahoma\",\"OR\":\"Oregon\",\"PA\":\"Pennsylvania\",\"RI\":\"Rhode Island\",\"SC\":\"South Carolina\",\"SD\":\"South Dakota\",\"TN\":\"Tennessee\",\"TX\":\"Texas\",\"UT\":\"Utah\",\"VT\":\"Vermont\",\"VA\":\"Virginia\",\"WA\":\"Washington\",\"WV\":\"West Virginia\",\"WI\":\"Wisconsin\",\"WY\":\"Wyoming\",\"AA\":\"Armed Forces (AA)\",\"AE\":\"Armed Forces (AE)\",\"AP\":\"Armed Forces (AP)\",\"AS\":\"American Samoa\",\"GU\":\"Guam\",\"MP\":\"Northern Mariana Islands\",\"PR\":\"Puerto Rico\",\"UM\":\"US Minor Outlying Islands\",\"VI\":\"US Virgin Islands\"}}","plugin_url":"http:\/\/novocoffee.com\/wp-content\/plugins\/woocommerce","ajax_url":"\/wp-admin\/admin-ajax.php","ajax_loader_url":"http:\/\/novocoffee.com\/wp-content\/plugins\/woocommerce\/assets\/images\/ajax-loader@2x.gif","i18n_select_state_text":"Select an option\u2026","i18n_required_rating_text":"Please select a rating","i18n_no_matching_variations_text":"Sorry, no products matched your selection. Please choose a different combination.","i18n_required_text":"required","i18n_view_cart":"View Cart \u2192","review_rating_required":"yes","update_order_review_nonce":"150112e03f","apply_coupon_nonce":"75dc84ae61","option_guest_checkout":"yes","checkout_url":"\/wp-admin\/admin-ajax.php?action=woocommerce-checkout","is_checkout":"0","update_shipping_method_nonce":"4f14bdf7a9","cart_url":"http:\/\/novocoffee.com\/cart\/","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=2.0.20'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.3.1'></script>
<script type='text/javascript' src='http://novocoffee.com/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=2.0.20'></script>

<script type="text/javascript" charset="utf-8">
	jQuery(document).ready(function(){
    	jQuery("a[rel^='prettyPhoto']").prettyPhoto({theme:'light_rounded',overlay_gallery: false,show_title: false,deeplinking:false});
    });
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeInW9ymN_DafRIibdnz27tgPqtATHwc0&sensor=false"></script>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-42868033-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>

</html>


<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

 Served from: novocoffee.com @ 2014-11-01 11:13:20 by W3 Total Cache -->
