
<body class="single single-product postid-6877 woocommerce woocommerce-page">
	<header>
		<div id="headerwrap" >
							<div class="cartHolder">
			<div class="top-nav">
				<div class="socialTop">
									</div>
								<div class="cartWrapper">
					<a class="cart-bubble cart-contents">(0)</a>
										<a href="http://novocoffee.com/cart/" class="cart">Cart</a>
				<div class="widget_shopping_cart_top">
				<div class="cartTopDetails">
					<ul class="cart_list product_list_widget  ">


							<li class="empty cart">No products in the cart.</li>

																</ul><!-- end product list -->
				</div>

				</div>
				</div>

												<ul>
					<li><a href="http://novocoffee.com/my-account/">My Account</a></li>
				</ul>
							</div>
		</div>
							<div id="header">

			<div id="logo">

													<a href="http://novocoffee.com"><img src="images/logo.png" alt="Novo Coffee - " /></a>
						</div>
			<div class="respMenu">
				<select name="url_list" class="event-type-selector-dropdown" onchange="gotosite(this)"><option value="" selected="selected" disabled="disabled">Please select...</option><option  value="http://novocoffee.com/shop/">Shop</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Africa</option>
<option  value="http://novocoffee.com/product/anyetsu/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu</option>
<option  value="http://novocoffee.com/product/anyetsu-espresso/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu Espresso</option>
<option  value="http://novocoffee.com/product/hachira/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hachira</option>
<option  value="http://novocoffee.com/product/kiamwangi/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kiamwangi</option>
<option  value="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ritual Chocolate Anyetsu Bar</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Central America</option>
<option  value="http://novocoffee.com/product/el-banco/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Banco</option>
<option  value="http://novocoffee.com/product/fincaisnul/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finca Isnul</option>
<option  value="http://novocoffee.com/product/hartmann-honey/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hartmann Honey</option>
<option  value="http://novocoffee.com/product/hartmann-geisha/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hartmann Geisha</option>
<option  value="http://novocoffee.com/product/mundani/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mundani</option>
<option  value="http://novocoffee.com/product/ojo-de-agua-2/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ojo de Agua</option>
<option  value="http://novocoffee.com/product/4mujere/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 Mujeres</option>
<option  value="http://novocoffee.com/product/el-aguila-bourbon/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Aguila Bourbon</option>
<option  value="http://novocoffee.com/product/el-aguila-pacamara/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Aguila Pacamara</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;South America</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pacific</option>
<option  value="http://novocoffee.com/product/ulos-batak/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ulos Batak</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espressos, Blends, & Decaf</option>
<option  value="http://novocoffee.com/product/anyetsu-espresso/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu Espresso</option>
<option  value="http://novocoffee.com/product/espresso-del-fuego/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espresso del Fuego</option>
<option  value="http://novocoffee.com/product/espresso-novo/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espresso Novo</option>
<option  value="http://novocoffee.com/product/four-leftys/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Four Leftys</option>
<option  value="http://novocoffee.com/product/novo-decaf/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Novo Decaf</option>
<option  value="http://novocoffee.com/product/novo-decaf-espresso/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Novo Decaf Espresso</option>

<option  value="/shop/">&nbsp;&nbsp;&nbsp;&nbsp;View all Coffees</option>

<option  value="http://novocoffee.com/wholesale/">Wholesale</option>
<option  value="http://novocoffee.com/news-events/">News + Events</option>
<option  value="http://novocoffee.com/about/">About</option>
<option  value="http://novocoffee.com/contact-locations/">Contact + Locations</option>
</select>			</div>

			<div class="pagenav">
			<ul id="menu-main-menu-1" class="menu"><li id="menu-item-5535" class="pmcbig menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children current_page_parent"><a href="http://novocoffee.com/shop/"><strong>Shop</strong></a>
<ul class="sub-menu">
	<li id="menu-item-5799" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu-africa.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6287" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Africa</h4></a></li>
		<li id="menu-item-6131" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/anyetsu/">Anyetsu</a></li>
		<li id="menu-item-6355" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/anyetsu-espresso/">Anyetsu Espresso</a></li>
		<li id="menu-item-7812" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/hachira/">Hachira</a></li>
		<li id="menu-item-7813" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/kiamwangi/">Kiamwangi</a></li>
		<li id="menu-item-6926" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/">Ritual Chocolate Anyetsu Bar</a></li>
	</ul>
</li>
	<li id="menu-item-5802" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu_central-america.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6289" class="pushup menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Central America</h4></a></li>
		<li id="menu-item-6137" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/el-banco/">El Banco</a></li>
		<li id="menu-item-7185" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/fincaisnul/">Finca Isnul</a></li>
		<li id="menu-item-7449" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/hartmann-honey/">Hartmann Honey</a></li>
		<li id="menu-item-7830" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/hartmann-geisha/">Hartmann Geisha</a></li>
		<li id="menu-item-6139" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/mundani/">Mundani</a></li>
		<li id="menu-item-7447" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/ojo-de-agua-2/">Ojo de Agua</a></li>
		<li id="menu-item-7809" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/4mujere/">4 Mujeres</a></li>
		<li id="menu-item-7810" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/el-aguila-bourbon/">El Aguila Bourbon</a></li>
		<li id="menu-item-7811" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/el-aguila-pacamara/">El Aguila Pacamara</a></li>
	</ul>
</li>
	<li id="menu-item-5804" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu_south-america.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6288" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>South America</h4></a></li>
	</ul>
</li>
	<li id="menu-item-5808" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu_pacific.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6290" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Pacific</h4></a></li>
		<li id="menu-item-6152" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/ulos-batak/">Ulos Batak</a></li>
	</ul>
</li>
	<li id="menu-item-5809" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/07/espressos_blends.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6291" class="pushup menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Espressos, Blends, <br/>&#038; Decaf</h4></a></li>
		<li id="menu-item-6144" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/anyetsu-espresso/">Anyetsu Espresso</a></li>
		<li id="menu-item-6145" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/espresso-del-fuego/">Espresso del Fuego</a></li>
		<li id="menu-item-6146" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/espresso-novo/">Espresso Novo</a></li>
		<li id="menu-item-6147" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/four-leftys/">Four Leftys</a></li>
		<li id="menu-item-6149" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/novo-decaf/">Novo Decaf</a></li>
		<li id="menu-item-6150" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/novo-decaf-espresso/">Novo Decaf Espresso</a></li>
	</ul>
</li>
	<li id="menu-item-6230" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/shop/"><div class="menufeautured"><img src="/wp-content/uploads/2013/07/Novo-Roaster-Low-19.jpg" alt="menu image"/><span>View all Coffees</span><p></p></div></a></li>
</ul>
</li>
<li id="menu-item-5570" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/wholesale/"><strong>Wholesale</strong></a></li>
<li id="menu-item-6109" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/news-events/"><strong>News + Events</strong></a></li>
<li id="menu-item-5569" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/about/"><strong>About</strong></a></li>
<li id="menu-item-5614" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/contact-locations/"><strong>Contact + Locations</strong></a></li>
</ul>			</div>

			</div>
		</div>

	</header>


<div class = "outerpagewrap">
				<div class="pagewrap" style="background: #332822 url(/images/hero_slim_wholesale.jpg) no-repeat center center;">
				<div class="pagecontent">
			<div class="pagecontentContent">
				<h1><a href="/shop/">Shop</a></h1>
				<p><a href="http://novocoffee.com">Novo Coffee</a> » Espresso Novo Mug</p>
			</div>
			<!-- <div class="homeIcon"><a href=""></a></div> -->
		</div>
	</div>
</div>

	<div id="mainwrap" class="homewrap">

		<div id="main" class="clearfix">

			<div class="content fullwidth">




<div itemscope itemtype="http://schema.org/Product" id="product-6877" class="post-6877 product type-product status-publish hentry instock">
	<div  class="leftContentSP">

<div class="imagesSPAll">

	<div class="images imagesSP">

	<script type="text/javascript">
	jQuery(document).ready(function($){
			$('#slider').anythingSlider({
			hashTags : false,
			expand		: true,
			autoPlay	: true,
			resizeContents  : false,
			pauseOnHover    : true,
			buildArrows     : false,
			buildNavigation : false,
			delay		: 1800000,
			resumeDelay	: 0,
			animationTime	: 800,
			delayBeforeAnimate:0,
			easing : 'easeInOutQuint',
			 onShowStart       : function(e, slider) {	$('.nextbutton').fadeIn();
				$('.prevbutton').fadeIn();},
			onSlideBegin    : function(e, slider) {
					$('.nextbutton').fadeOut();
					$('.prevbutton').fadeOut();

			},
			onSlideComplete    : function(slider) {
				$('.nextbutton').fadeIn();
				$('.prevbutton').fadeIn();

			}
			})


			$('.blogsingleimage').hover(function() {
			$(".slideforward").stop(true, true).fadeIn();
			$(".slidebackward").stop(true, true).fadeIn();
			}, function() {
			$(".slideforward").fadeOut();
			$(".slidebackward").fadeOut();
			});
			$(".pauseButton").toggle(function(){
			$(this).attr("class", "playButton");
			$('#slider').data('AnythingSlider').startStop(false); // stops the slideshow
			},function(){
			$(this).attr("class", "pauseButton");
			$('#slider').data('AnythingSlider').startStop(true);  // start the slideshow
			});
			$(".slideforward").click(function(){
			$('#slider').data('AnythingSlider').goForward();
			});
			$(".slidebackward").click(function(){
			$('#slider').data('AnythingSlider').goBack();
			});
		});

	</script>
							<a href = "http://novocoffee.com/wp-content/uploads/2013/11/mug.jpg" title="Espresso Novo Mug" rel ="prettyPhoto" ><img class="check" src="http://novocoffee.com/wp-content/uploads/2013/11/mug.jpg" /></a>

		</div>
		<div class="thumbnails"></div>
</div>
	</div>

	<div class="rightContentSP">

	<div class="titleSP">
		<h2>Espresso Novo Mug</h2>
	</div>
	<!-- <div class="priceSP">


	<link itemprop="availability" href="http://schema.org/" />

	</div> -->
		<div class="descriptionSP short">
		<p>Imported from expert Italian porcelain manufacturer d’Ancap and crafted outside of Sona, Italy, these highly durable and exceptionally lovely mugs feature the Espresso Novo logo.</p>
<p>d’ANCAP is recognized as one of the finest producers of coffee and espresso vessels in the world. These mugs are paired with a saucer and are available in traditional espresso (75 mL or ~2.5 oz), cappuccino (180 mL or ~6 oz), and latte (350 mL or ~12 oz) sizes.</p>
	</div>
	<script type="text/javascript">
	if ( ! product_variations )
		var product_variations = new Array();

    product_variations[ 6877 ] = [{"variation_id":"6889","attributes":{"attribute_pa_size":"75-ml"},"image_src":"","image_link":"","image_title":"","image_alt":"","price_html":"<span class=\"price\"><span class=\"amount\">&#36;11<\/span><\/span>","availability_html":"","sku":"","weight":"1.00 lbs","dimensions":"6 x 6 x 4 in","min_qty":1,"max_qty":0,"backorders_allowed":false,"is_in_stock":true,"is_downloadable":false,"is_virtual":false,"is_sold_individually":"no"},{"variation_id":"6890","attributes":{"attribute_pa_size":"180-ml"},"image_src":"","image_link":"","image_title":"","image_alt":"","price_html":"<span class=\"price\"><span class=\"amount\">&#36;13<\/span><\/span>","availability_html":"","sku":"","weight":"2.00 lbs","dimensions":"6 x 6 x 4 in","min_qty":1,"max_qty":0,"backorders_allowed":false,"is_in_stock":true,"is_downloadable":false,"is_virtual":false,"is_sold_individually":"no"},{"variation_id":"6891","attributes":{"attribute_pa_size":"350-ml"},"image_src":"","image_link":"","image_title":"","image_alt":"","price_html":"<span class=\"price\"><span class=\"amount\">&#36;15<\/span><\/span>","availability_html":"","sku":"","weight":"2.00 lbs","dimensions":"6 x 6 x 4 in","min_qty":1,"max_qty":0,"backorders_allowed":false,"is_in_stock":true,"is_downloadable":false,"is_virtual":false,"is_sold_individually":"no"}];
</script>


<div class="cartPS">
	<div id="product_box">
		<form action="/product/espresso-novo-mug-12-oz/?add-to-cart=6877" class="variations_form" method="post" enctype='multipart/form-data' data-product_id="6877">
			<div class="variations">
											<div class="rowSP">
							<div class="label"><label for="pa_size">Size</label></div>
							<div class="value"><select id="pa_size" name="attribute_pa_size">
								<option value="">Choose an option&hellip;</option>
								<option value="180-ml" >180 mL</option><option value="350-ml"  selected='selected'>350 mL</option><option value="75-ml" >75 mL</option>							</select> </div>
						</div>
			        				</tbody>
			</div>


			<div class="single_variation_wrap" style="display:none;">
				<div class="single_variation"></div>
				<div class="variations_button">
					<input type="hidden" name="variation_id" value="" />
					<div class="quantity">
<input  step="1" min="" max="" name="quantity" value="1" size="4" title="Qty" class="input-text qty text" maxlength="12" /></div>					<button type="submit" class="single_add_to_cart_button button alt">Add to cart</button>

				</div>

			</div>
			<div><input type="hidden" name="product_id" value="6877" /></div>


		</form>
		<div class="messageSP">
					</div>
	</div>
</div>


	</div>



	<!-- <div class="woocommerce-tabs">
		<ul class="tabs">

				<li class="_tab">
					<a href="#tab-"></a>
				</li>

						<div class="social_tab" >
				<div class="titleShareSP"></div>
				<div class="socialSP"></div>
			</div>
		</ul>

			<div class="panel entry-content" id="tab-">
							</div>

			</div> -->


</div><!-- #product-6877 -->





				<div class="homeRacent">
					<div class="titleborder"></div>
					<h2 class="section_title">Featured <span>Products</span></h2>
					<div id="homeRecent" class="productRH">

					<ul id="productR" class="productR">
												<li><div class="one_third" >								<a href="http://novocoffee.com/product/hartmann-honey/" title="Hartmann Honey">
									<div class="recentimage">
										<div class="image">
											<div class="loading"></div>
											<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/07/HarmannHoney.png&amp;h=300&amp;w=294" >										</div>
									</div>
								</a>
								<div class="recentdescription">
																		<h3><a href="http://novocoffee.com/product/hartmann-honey/" title="Hartmann Honey">Hartmann Honey</a></h3>
									<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;15</span></span></h3>
								</div>
								<div class="recentCart">

	<a href="http://novocoffee.com/product/hartmann-honey/" rel="nofollow" data-product_id="6541" class="add_to_cart_button button product_type_variable">View Details</a>
</div>
							</div>
						<div class="one_third" >								<a href="http://novocoffee.com/product/ojo-de-agua-2/" title="Ojo de Agua">
									<div class="recentimage">
										<div class="image">
											<div class="loading"></div>
											<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2014/05/OjoDeAgua.png&amp;h=300&amp;w=294" >										</div>
									</div>
								</a>
								<div class="recentdescription">
																		<h3><a href="http://novocoffee.com/product/ojo-de-agua-2/" title="Ojo de Agua">Ojo de Agua</a></h3>
									<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14</span></span></h3>
								</div>
								<div class="recentCart">

	<a href="http://novocoffee.com/product/ojo-de-agua-2/" rel="nofollow" data-product_id="7434" class="add_to_cart_button button product_type_variable">View Details</a>
</div>
							</div>
						<div class="one_third last" >								<a href="http://novocoffee.com/product/kiamwangi/" title="Kiamwangi">
									<div class="recentimage">
										<div class="image">
											<div class="loading"></div>
											<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2014/10/Kiamwangi1.png&amp;h=300&amp;w=294" >										</div>
									</div>
								</a>
								<div class="recentdescription">
																		<h3><a href="http://novocoffee.com/product/kiamwangi/" title="Kiamwangi">Kiamwangi</a></h3>
									<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;20</span></span></h3>
								</div>
								<div class="recentCart">

	<a href="http://novocoffee.com/product/kiamwangi/" rel="nofollow" data-product_id="7779" class="add_to_cart_button button product_type_variable">View Details</a>
</div>
							</div>
												</ul>
					</div>
				</div>

				<div class="clear"></div>

			</div>


		</div>
	</div>