<body class="home page page-id-4825 page-template page-template-template-home-php">
	<%= erb :_navigation %>
<script type='text/javascript' src='js/home_page.js'></script>

<div id="slider-wrapper">
<div class="loading"></div>
<div id="slider">

<div>

	<div class="panel-0">


																					<div class="images">
																			<img class="check" src="/images/slideshow-background-13-1.png" alt="Locations" />


										<div class="textSlide" style="top:25%; left:57%">

										<h1 class="box">Our Shops</h1>

<ul>
<li class="left">Retail coffee shops at 1600 Glenarm &</li>
<li class="right">1700 East 6th Avenue</li>
<a href = "/contact-locations/" class="brown_button small">SHOW ME MORE</a>
</li>
</ul>
										</div>
								</div>
															</div>
</div>
<div>

	<div class="panel-1">


																					<div class="images">

										<a href="http://novocoffee.com/retail-cuppings/" title="">

											<img class="check"  src="/images/bluechair1.jpg"  alt="Bi-Weekly Cuppings "/>
										</a>


										<div class="textSlide" style="top:75%; left:57%">

										<h1 class="box">Cupping Events</h1>

<ul>
<li class="left">Bi-Weekly Cuppings </li>
<li class="right">For the curious coffee drinker </li>
<li class="left">Occurring at both Glenarm and Gilpin</li>
<li class="right">
<a href = "/retail-cuppings/" class="brown_button small">SHOW ME MORE</a>
</li>
</ul>
										</div>
								</div>
															</div>
</div>
<div>

	<div class="panel-2">


																					<div class="images">
																			<img class="check" src="/images/slideshow-background-13-1.png" alt="Subscriptions" />


										<div class="textSlide" style="top:25%; left:57%">

										<h1 class="box">Subscribe Today!</h1>

<ul>
<li class="left">Our monthly coffee subscriptions</li>
<li class="right">are handpicked by our head roaster</li>
<li class="left">and delivered to your front door.</li>
<li class="right">
<a href = "/subscriptions/" class="brown_button small">SHOW ME MORE</a>
</li>
</ul>
										</div>
								</div>
															</div>
</div>
<div>

	<div class="panel-3">


																					<div class="images">
																			<img class="check" src="/images/slideshow-background-13-1.png" alt="Shop" />


										<div class="textSlide" style="top:25%; left:57%">

										<h1 class="box">Shop Our Coffee</h1>

<ul>
<li class="left">Browse all of</li>
<li class="right">our flavorful coffees</li>
<li class="left"> by region</li>
<li class="right">
<a href = "/shop" class="brown_button small">SHOW ME MORE</a>
</li>
</ul>
										</div>
								</div>
															</div>
</div>
</div>
    <div class="prevbutton slidebackward"></div>
    <div class="nextbutton slideforward"></div>

</div>



<div id="mainwrap">
	<div id="main" class="clearfix">
		<div class="pad"></div>
		<h1 class="headline">                                 Welcome to our website! It is fresh, like our coffee.</h1>
						<div class="one_fourth first">
			<div class = "boxImage">

				<div class="imagerecentholder">
					<a href="/espresso-novo/">
						<img src="/images/icon_espresso_red2.png" alt="">
					</a>
					<p><p style="text-align: center;"><strong> Espresso Novo</strong></p>
</p>
				</div>
			</div>
		</div>
				<div class="one_fourth second">
			<div class = "boxImage">

				<div class="imagerecentholder">
					<a href="/product/anyetsu/">
						<img src="/images/icon_bean_blue1.png" alt="">
					</a>
					<p><p style="text-align: center;"><strong>Anyetsu</strong></p>
</p>
				</div>
			</div>
		</div>
				<div class="one_fourth third">
			<div class = "boxImage">

				<div class="imagerecentholder">
					<a href="/product/el-banco/">
						<img src="/images/icon_piggy_orange1.png" alt="">
					</a>
					<p><p style="text-align: center;"><strong>El Banco</strong></p>
</p>
				</div>
			</div>
		</div>
				<div class="one_fourth last fourth">
			<div class = "boxImage">

				<div class="imagerecentholder">
					<a href="/product/mundani">
						<img src="/images/icon_mountain_green.png" alt="">
					</a>
					<p><p style="text-align: center;"><strong>Mundani</strong></p>
</p>
				</div>
			</div>
		</div>


		<!-- <div class="one_fourth second">
			<div class = "boxImage">
				<div class="imagerecentholder">
					<img src="/wp-content/uploads/2013/06/icon_espresso_red.png" alt="">
					<p>Lorem ipsum dolor sit amet, consectetuer<strong> adipiscing elit</strong>, sed<strong> </strong>diam nonummy nibh euismod<strong> tincidunt</strong> ut laoreet dolore.</p>
				</div>
			</div>
		</div>
		<div class="one_fourth third">
			<div class = "boxImage">
				<div class="imagerecentholder">
					<img src="/wp-content/uploads/2013/06/icon_bean_blue.png" alt="">
					<p>Lorem ipsum dolor sit amet, consectetuer<strong> adipiscing elit</strong>, sed<strong> </strong>diam nonummy nibh euismod<strong> tincidunt</strong> ut laoreet dolore.</p>
				</div>
			</div>
		</div>
		<div class="one_fourth last fourth">
			<div class = "boxImage">
				<div class="imagerecentholder">
					<img src="/wp-content/uploads/2013/06/icon_mountain_green.png" alt="">
					<p>Lorem ipsum dolor sit amet, consectetuer<strong> adipiscing elit</strong>, sed<strong> </strong>diam nonummy nibh euismod<strong> tincidunt</strong> ut laoreet dolore.</p>
				</div>
			</div>
		</div> -->
		<div class="clear"></div>

		<h2 class="section_title">Featured <span>Products</span></h2>
		<a href="/shop/" class="view_all">view all</a>
		<div class="clear"></div>



	<script type="text/javascript">


		jQuery(document).ready(function(){
		// Slider
		var $slider = jQuery('#productF').bxSlider({
					controls: true,
					displaySlideQty: 1,
					easing : 'easeInOutQuint',
					prevText : '',
					nextText : '',
					pager :false

				});


		 });
	</script>






<div class="homeRacent">
	<div class="titleborder"></div>
	<!-- <h2></h2> -->
	<div id="homeRecent">
	<ul id ="productF" class="productR">
				<li><div class="one_third" >				<a href="http://novocoffee.com/product/kiamwangi/" title="Kiamwangi">
					<div class="recentimage">
						<div class="image">
							<div class="loading"></div>
							<img src="/images/Kiamwangi1.png" >						</div>
					</div>
				</a>
				<div class="recentdescription">
										<h3><a href="http://novocoffee.com/product/kiamwangi/" title="">Kiamwangi</a></h3>
					<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;20</span></span></h3>
				</div>
				<div class="recentCart">

	<a href="http://novocoffee.com/product/kiamwangi/" rel="nofollow" data-product_id="7779" class="add_to_cart_button button product_type_variable">View Details</a>
</div>

			</div>
		<div class="one_third" >				<a href="http://novocoffee.com/product/hartmann-honey/" title="Hartmann Honey">
					<div class="recentimage">
						<div class="image">
							<div class="loading"></div>
							<img src="/images/HarmannHoney.png" >						</div>
					</div>
				</a>
				<div class="recentdescription">
										<h3><a href="http://novocoffee.com/product/hartmann-honey/" title="">Hartmann Honey</a></h3>
					<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;15</span></span></h3>
				</div>
				<div class="recentCart">

	<a href="http://novocoffee.com/product/hartmann-honey/" rel="nofollow" data-product_id="6541" class="add_to_cart_button button product_type_variable">View Details</a>
</div>

			</div>
		<div class="one_third last" >				<a href="http://novocoffee.com/product/ojo-de-agua-2/" title="Ojo de Agua">
					<div class="recentimage">
						<div class="image">
							<div class="loading"></div>
							<img src="/images/OjoDeAgua.png" >						</div>
					</div>
				</a>
				<div class="recentdescription">
										<h3><a href="http://novocoffee.com/product/ojo-de-agua-2/" title="">Ojo de Agua</a></h3>
					<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14</span></span></h3>
				</div>
				<div class="recentCart">

	<a href="http://novocoffee.com/product/ojo-de-agua-2/" rel="nofollow" data-product_id="7434" class="add_to_cart_button button product_type_variable">View Details</a>
</div>

			</div>
					</li>
				</ul>
	</div>
</div>

<div class="clear"></div>
		<div class="clear"> </div>
	</div>
</div>
