
<body class="error404">
  <%= erb :_navigation %>

<div class = "outerpagewrap">
        <div class="pagewrap" style="background: #332822 url(/images/hero_slim_wholesale.jpg) no-repeat center center;">
        <div class="pagecontent">
      <div class="pagecontentContent">
        <h1>Uh oh, looks like this page is missing.</h1>
        <p></p>
      </div>
      <div class="homeIcon"><a href="/"></a></div>
    </div>

  </div>
</div>

<div id="mainwrap">

  <div id="main" class="clearfix">


  <div class="pad"></div>

          <div class="content fullwidth errorpage">
              <div class="postcontent">
                <h2>Uh oh, looks like this page is missing.</h2>
                <div class="posttext">
                  <a href="/">Go back to the homepage</a>                 <a href="/" style="display:block;padding-top:30px;"><img src="/images/logo.png" alt="Novo Coffee - " /></a>
                </div>
              </div>
          </div>
  </div>
</div>
