
<body class="archive post-type-archive post-type-archive-product woocommerce woocommerce-page">
	<header>
		<div id="headerwrap" >
							<div class="cartHolder">
			<div class="top-nav">
				<div class="socialTop">
									</div>
								<div class="cartWrapper">
					<a class="cart-bubble cart-contents">(0)</a>
										<a href="http://novocoffee.com/cart/" class="cart">Cart</a>
				<div class="widget_shopping_cart_top">
				<div class="cartTopDetails">
					<ul class="cart_list product_list_widget  ">


							<li class="empty cart">No products in the cart.</li>

																</ul><!-- end product list -->
				</div>

				</div>
				</div>

												<ul>
					<li><a href="http://novocoffee.com/my-account/">My Account</a></li>
				</ul>
							</div>
		</div>
							<div id="header">

			<div id="logo">

													<a href="http://novocoffee.com"><img src="images/logo.png" alt="Novo Coffee - " /></a>
						</div>
			<div class="respMenu">
				<select name="url_list" class="event-type-selector-dropdown" onchange="gotosite(this)"><option value="" selected="selected" disabled="disabled">Please select...</option><option  value="http://novocoffee.com/shop/">Shop</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Africa</option>
<option  value="http://novocoffee.com/product/anyetsu/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu</option>
<option  value="http://novocoffee.com/product/anyetsu-espresso/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu Espresso</option>
<option  value="http://novocoffee.com/product/hachira/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hachira</option>
<option  value="http://novocoffee.com/product/kiamwangi/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kiamwangi</option>
<option  value="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ritual Chocolate Anyetsu Bar</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Central America</option>
<option  value="http://novocoffee.com/product/el-banco/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Banco</option>
<option  value="http://novocoffee.com/product/fincaisnul/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finca Isnul</option>
<option  value="http://novocoffee.com/product/hartmann-honey/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hartmann Honey</option>
<option  value="http://novocoffee.com/product/hartmann-geisha/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hartmann Geisha</option>
<option  value="http://novocoffee.com/product/mundani/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mundani</option>
<option  value="http://novocoffee.com/product/ojo-de-agua-2/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ojo de Agua</option>
<option  value="http://novocoffee.com/product/4mujere/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 Mujeres</option>
<option  value="http://novocoffee.com/product/el-aguila-bourbon/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Aguila Bourbon</option>
<option  value="http://novocoffee.com/product/el-aguila-pacamara/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Aguila Pacamara</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;South America</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pacific</option>
<option  value="http://novocoffee.com/product/ulos-batak/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ulos Batak</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espressos, Blends, & Decaf</option>
<option  value="http://novocoffee.com/product/anyetsu-espresso/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu Espresso</option>
<option  value="http://novocoffee.com/product/espresso-del-fuego/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espresso del Fuego</option>
<option  value="http://novocoffee.com/product/espresso-novo/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espresso Novo</option>
<option  value="http://novocoffee.com/product/four-leftys/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Four Leftys</option>
<option  value="http://novocoffee.com/product/novo-decaf/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Novo Decaf</option>
<option  value="http://novocoffee.com/product/novo-decaf-espresso/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Novo Decaf Espresso</option>

<option  value="/shop/">&nbsp;&nbsp;&nbsp;&nbsp;View all Coffees</option>

<option  value="http://novocoffee.com/wholesale/">Wholesale</option>
<option  value="http://novocoffee.com/news-events/">News + Events</option>
<option  value="http://novocoffee.com/about/">About</option>
<option  value="http://novocoffee.com/contact-locations/">Contact + Locations</option>
</select>			</div>

			<div class="pagenav">
			<ul id="menu-main-menu-1" class="menu"><li id="menu-item-5535" class="pmcbig menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children current-menu-item current_page_item"><a href="http://novocoffee.com/shop/"><strong>Shop</strong></a>
<ul class="sub-menu">
	<li id="menu-item-5799" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu-africa.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6287" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Africa</h4></a></li>
		<li id="menu-item-6131" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/anyetsu/">Anyetsu</a></li>
		<li id="menu-item-6355" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/anyetsu-espresso/">Anyetsu Espresso</a></li>
		<li id="menu-item-7812" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/hachira/">Hachira</a></li>
		<li id="menu-item-7813" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/kiamwangi/">Kiamwangi</a></li>
		<li id="menu-item-6926" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/">Ritual Chocolate Anyetsu Bar</a></li>
	</ul>
</li>
	<li id="menu-item-5802" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu_central-america.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6289" class="pushup menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Central America</h4></a></li>
		<li id="menu-item-6137" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/el-banco/">El Banco</a></li>
		<li id="menu-item-7185" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/fincaisnul/">Finca Isnul</a></li>
		<li id="menu-item-7449" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/hartmann-honey/">Hartmann Honey</a></li>
		<li id="menu-item-7830" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/hartmann-geisha/">Hartmann Geisha</a></li>
		<li id="menu-item-6139" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/mundani/">Mundani</a></li>
		<li id="menu-item-7447" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/ojo-de-agua-2/">Ojo de Agua</a></li>
		<li id="menu-item-7809" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/4mujere/">4 Mujeres</a></li>
		<li id="menu-item-7810" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/el-aguila-bourbon/">El Aguila Bourbon</a></li>
		<li id="menu-item-7811" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/el-aguila-pacamara/">El Aguila Pacamara</a></li>
	</ul>
</li>
	<li id="menu-item-5804" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu_south-america.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6288" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>South America</h4></a></li>
	</ul>
</li>
	<li id="menu-item-5808" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu_pacific.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6290" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Pacific</h4></a></li>
		<li id="menu-item-6152" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/ulos-batak/">Ulos Batak</a></li>
	</ul>
</li>
	<li id="menu-item-5809" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/07/espressos_blends.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6291" class="pushup menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Espressos, Blends, <br/>&#038; Decaf</h4></a></li>
		<li id="menu-item-6144" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/anyetsu-espresso/">Anyetsu Espresso</a></li>
		<li id="menu-item-6145" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/espresso-del-fuego/">Espresso del Fuego</a></li>
		<li id="menu-item-6146" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/espresso-novo/">Espresso Novo</a></li>
		<li id="menu-item-6147" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/four-leftys/">Four Leftys</a></li>
		<li id="menu-item-6149" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/novo-decaf/">Novo Decaf</a></li>
		<li id="menu-item-6150" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/novo-decaf-espresso/">Novo Decaf Espresso</a></li>
	</ul>
</li>
	<li id="menu-item-6230" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item"><a href="/shop/"><div class="menufeautured"><img src="/wp-content/uploads/2013/07/Novo-Roaster-Low-19.jpg" alt="menu image"/><span>View all Coffees</span><p></p></div></a></li>
</ul>
</li>
<li id="menu-item-5570" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/wholesale/"><strong>Wholesale</strong></a></li>
<li id="menu-item-6109" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/news-events/"><strong>News + Events</strong></a></li>
<li id="menu-item-5569" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/about/"><strong>About</strong></a></li>
<li id="menu-item-5614" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/contact-locations/"><strong>Contact + Locations</strong></a></li>
</ul>			</div>

			</div>
		</div>

	</header>



	<div class = "outerpagewrap">
					<div class="pagewrap" style="background: #332822 url(/images/hero_slim_wholesale.jpg) no-repeat center center;">
					<div class="pagecontent">
				<div class="pagecontentContent">
					<h1>
													Shop
					</h1>
					<p></p>
				</div>

				<!-- <div class="homeIcon"><a href=""></a></div> -->

			</div>



		</div>

	</div>

	<div id="mainwrap" class="homewrap">
		<div id="main" class="clearfix">

				<div class="homeRacent">
					<div class="wocategoryFull">

						<a href="/subscriptions/" class="monthly_subscription_orange">Sign Up for a Monthly Coffee Subscription</a>


									<h2 class="shop_title africa">
										<span>
											Africa										</span>
									</h2>


										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/kiamwangi/" title="Kiamwangi">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2014/10/Kiamwangi1.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/kiamwangi/" title="Kiamwangi"> Kiamwangi </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;20</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/kiamwangi/" rel="nofollow" data-product_id="7779" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/" title="Ritual Chocolate Anyetsu Bar">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/11/ritual-chocolate-bar.jpg&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/" title="Ritual Chocolate Anyetsu Bar"> Ritual Chocolate Anyetsu Bar </a></h3>
														<h3 class="category"><span class="price"><span class="amount">&#36;6.75</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="/shop/?add-to-cart=6892" rel="nofollow" data-product_id="6892" class="add_to_cart_button button product_type_simple">Add to cart</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/belekatu/" title="Belekatu &#8211; Out Of Stock">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/11/belekatu.web_.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/belekatu/" title="Belekatu &#8211; Out Of Stock"> Belekatu &#8211; Out Of Stock </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;16</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/belekatu/" class="button">Read More</a>

													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/anyetsu/" title="Anyetsu">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/africa_anyetsu.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/anyetsu/" title="Anyetsu"> Anyetsu </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;16</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/anyetsu/" rel="nofollow" data-product_id="5851" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/novo-decaf-espresso/" title="Novo Decaf Espresso">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/africa_novo-decaf-espresso.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/novo-decaf-espresso/" title="Novo Decaf Espresso"> Novo Decaf Espresso </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14.50</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/novo-decaf-espresso/" rel="nofollow" data-product_id="5983" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/anyetsu-espresso/" title="Anyetsu Espresso">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/africa_anyetsu-espresso.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/anyetsu-espresso/" title="Anyetsu Espresso"> Anyetsu Espresso </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;16</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/anyetsu-espresso/" rel="nofollow" data-product_id="5977" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/novo-decaf/" title="Novo Decaf">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/africa_novo-decaf.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/novo-decaf/" title="Novo Decaf"> Novo Decaf </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14.50</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/novo-decaf/" rel="nofollow" data-product_id="5965" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/hachira/" title="Hachira">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/africa_hachira.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/hachira/" title="Hachira"> Hachira </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;28</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/hachira/" rel="nofollow" data-product_id="5922" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

									<h2 class="shop_title central-america">
										<span>
											Central America										</span>
									</h2>


										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/el-aguila-bourbon/" title="El Aguila Bourbon">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2014/10/Bourbon_website1.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/el-aguila-bourbon/" title="El Aguila Bourbon"> El Aguila Bourbon </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;16</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/el-aguila-bourbon/" rel="nofollow" data-product_id="7785" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/el-aguila-pacamara/" title="El Aguila Pacamara">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2014/10/Pacamara_website1.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/el-aguila-pacamara/" title="El Aguila Pacamara"> El Aguila Pacamara </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;18</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/el-aguila-pacamara/" rel="nofollow" data-product_id="7782" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/ojo-de-agua-2/" title="Ojo de Agua">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2014/05/OjoDeAgua.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/ojo-de-agua-2/" title="Ojo de Agua"> Ojo de Agua </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/ojo-de-agua-2/" rel="nofollow" data-product_id="7434" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/fincaisnul/" title="Finca Isnul">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2014/02/FincaIsnul1.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/fincaisnul/" title="Finca Isnul"> Finca Isnul </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/fincaisnul/" class="button">Read More</a>

													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/4mujere/" title="4 Mujeres">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/10/4mujeres1.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/4mujere/" title="4 Mujeres"> 4 Mujeres </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;15</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/4mujere/" rel="nofollow" data-product_id="6762" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/hartmann-honey/" title="Hartmann Honey">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/07/HarmannHoney.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/hartmann-honey/" title="Hartmann Honey"> Hartmann Honey </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;15</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/hartmann-honey/" rel="nofollow" data-product_id="6541" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/hartmann-geisha/" title="Hartmann Geisha">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/07/geisha.web_2.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/hartmann-geisha/" title="Hartmann Geisha"> Hartmann Geisha </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;32</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/hartmann-geisha/" rel="nofollow" data-product_id="6534" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/el-banco/" title="El Banco">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/ca-el_banco.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/el-banco/" title="El Banco"> El Banco </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;16</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/el-banco/" class="button">Read More</a>

													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/mundani/" title="Mundani">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/ca_mundani.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/mundani/" title="Mundani"> Mundani </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14.50</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/mundani/" class="button">Read More</a>

													</div>

												</div>
																					</div>

									<h2 class="shop_title pacific">
										<span>
											Pacific										</span>
									</h2>


										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/ulos-batak/" title="Ulos Batak">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/pacific_ulos-batak.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/ulos-batak/" title="Ulos Batak"> Ulos Batak </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;15</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/ulos-batak/" rel="nofollow" data-product_id="5938" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

									<h2 class="shop_title espressosblendsdecaf">
										<span>
											Espressos/ Blends/ Decaf										</span>
									</h2>


										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/novo-decaf-espresso/" title="Novo Decaf Espresso">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/africa_novo-decaf-espresso.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/novo-decaf-espresso/" title="Novo Decaf Espresso"> Novo Decaf Espresso </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14.50</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/novo-decaf-espresso/" rel="nofollow" data-product_id="5983" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/anyetsu-espresso/" title="Anyetsu Espresso">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/africa_anyetsu-espresso.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/anyetsu-espresso/" title="Anyetsu Espresso"> Anyetsu Espresso </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;16</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/anyetsu-espresso/" rel="nofollow" data-product_id="5977" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/espresso-del-fuego/" title="Espresso del Fuego">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/07/blend_espresso-del-fuego.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/espresso-del-fuego/" title="Espresso del Fuego"> Espresso del Fuego </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;13.50</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/espresso-del-fuego/" rel="nofollow" data-product_id="5971" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/espresso-novo/" title="Espresso Novo">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/07/blend_espresso-novo.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/espresso-novo/" title="Espresso Novo"> Espresso Novo </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/espresso-novo/" rel="nofollow" data-product_id="5968" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/novo-decaf/" title="Novo Decaf">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/africa_novo-decaf.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/novo-decaf/" title="Novo Decaf"> Novo Decaf </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14.50</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/novo-decaf/" rel="nofollow" data-product_id="5965" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/four-leftys/" title="Four Leftys">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/07/blend-four_leftys.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/four-leftys/" title="Four Leftys"> Four Leftys </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;13.50</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/four-leftys/" rel="nofollow" data-product_id="5822" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>
																				<div class="blue">

									<h2 class="shop_title accessories-merchandise">
										<span>
											Accessories &amp; Merchandise										</span>
									</h2>


										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/" title="Ritual Chocolate Anyetsu Bar">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/11/ritual-chocolate-bar.jpg&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/" title="Ritual Chocolate Anyetsu Bar"> Ritual Chocolate Anyetsu Bar </a></h3>
														<h3 class="category"><span class="price"><span class="amount">&#36;6.75</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="/shop/?add-to-cart=6892" rel="nofollow" data-product_id="6892" class="add_to_cart_button button product_type_simple">Add to cart</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/espresso-novo-mug-12-oz/" title="Espresso Novo Mug">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/11/mug.jpg&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/espresso-novo-mug-12-oz/" title="Espresso Novo Mug"> Espresso Novo Mug </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;11</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/espresso-novo-mug-12-oz/" rel="nofollow" data-product_id="6877" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/the-variety/" title="The Variety">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/Novo-Glenarm-Opening-High-res019.jpg&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/the-variety/" title="The Variety"> The Variety </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;59.85</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/the-variety/" rel="nofollow" data-product_id="6126" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/the-single/" title="The Single">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/Novo-Glenarm-Opening-High-res019.jpg&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/the-single/" title="The Single"> The Single </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;59.85</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/the-single/" rel="nofollow" data-product_id="6121" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/the-double/" title="The Double">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/Novo-Glenarm-Opening-High-res019.jpg&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/the-double/" title="The Double"> The Double </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;101.85</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/the-double/" rel="nofollow" data-product_id="6115" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>
										</div>
															<!-- <div class="categorytopbarWraper">
								<div class="categorytopbar">


				</div>
			</div> -->
							</div>


				<!-- <p></p> -->






		</div>
		</div>
	</div>