
<body class="archive post-type-archive post-type-archive-product woocommerce woocommerce-page">
	<%= erb :_navigation %>

	<div class = "outerpagewrap">
					<div class="pagewrap" style="background: #332822 url(/images/hero_slim_wholesale.jpg) no-repeat center center;">
					<div class="pagecontent">
				<div class="pagecontentContent">
					<h1>
													Shop
					</h1>
					<p></p>
				</div>

				<!-- <div class="homeIcon"><a href=""></a></div> -->

			</div>



		</div>

	</div>

	<div id="mainwrap" class="homewrap">
		<div id="main" class="clearfix">

				<div class="homeRacent">
					<div class="wocategoryFull">

						<a href="/subscriptions/" class="monthly_subscription_orange">Sign Up for a Monthly Coffee Subscription</a>


									<h2 class="shop_title africa">
										<span>
											Africa										</span>
									</h2>


										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/kiamwangi/" title="Kiamwangi">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2014/10/Kiamwangi1.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/kiamwangi/" title="Kiamwangi"> Kiamwangi </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;20</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/kiamwangi/" rel="nofollow" data-product_id="7779" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/" title="Ritual Chocolate Anyetsu Bar">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/11/ritual-chocolate-bar.jpg&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/" title="Ritual Chocolate Anyetsu Bar"> Ritual Chocolate Anyetsu Bar </a></h3>
														<h3 class="category"><span class="price"><span class="amount">&#36;6.75</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="/shop/?add-to-cart=6892" rel="nofollow" data-product_id="6892" class="add_to_cart_button button product_type_simple">Add to cart</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/belekatu/" title="Belekatu &#8211; Out Of Stock">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/11/belekatu.web_.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/belekatu/" title="Belekatu &#8211; Out Of Stock"> Belekatu &#8211; Out Of Stock </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;16</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/belekatu/" class="button">Read More</a>

													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/anyetsu/" title="Anyetsu">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/africa_anyetsu.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/anyetsu/" title="Anyetsu"> Anyetsu </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;16</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/anyetsu/" rel="nofollow" data-product_id="5851" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/novo-decaf-espresso/" title="Novo Decaf Espresso">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/africa_novo-decaf-espresso.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/novo-decaf-espresso/" title="Novo Decaf Espresso"> Novo Decaf Espresso </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14.50</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/novo-decaf-espresso/" rel="nofollow" data-product_id="5983" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/anyetsu-espresso/" title="Anyetsu Espresso">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/africa_anyetsu-espresso.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/anyetsu-espresso/" title="Anyetsu Espresso"> Anyetsu Espresso </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;16</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/anyetsu-espresso/" rel="nofollow" data-product_id="5977" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/novo-decaf/" title="Novo Decaf">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/africa_novo-decaf.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/novo-decaf/" title="Novo Decaf"> Novo Decaf </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14.50</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/novo-decaf/" rel="nofollow" data-product_id="5965" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/hachira/" title="Hachira">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/africa_hachira.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/hachira/" title="Hachira"> Hachira </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;28</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/hachira/" rel="nofollow" data-product_id="5922" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

									<h2 class="shop_title central-america">
										<span>
											Central America										</span>
									</h2>


										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/el-aguila-bourbon/" title="El Aguila Bourbon">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2014/10/Bourbon_website1.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/el-aguila-bourbon/" title="El Aguila Bourbon"> El Aguila Bourbon </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;16</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/el-aguila-bourbon/" rel="nofollow" data-product_id="7785" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/el-aguila-pacamara/" title="El Aguila Pacamara">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2014/10/Pacamara_website1.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/el-aguila-pacamara/" title="El Aguila Pacamara"> El Aguila Pacamara </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;18</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/el-aguila-pacamara/" rel="nofollow" data-product_id="7782" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/ojo-de-agua-2/" title="Ojo de Agua">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2014/05/OjoDeAgua.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/ojo-de-agua-2/" title="Ojo de Agua"> Ojo de Agua </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/ojo-de-agua-2/" rel="nofollow" data-product_id="7434" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/fincaisnul/" title="Finca Isnul">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2014/02/FincaIsnul1.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/fincaisnul/" title="Finca Isnul"> Finca Isnul </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/fincaisnul/" class="button">Read More</a>

													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/4mujere/" title="4 Mujeres">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/10/4mujeres1.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/4mujere/" title="4 Mujeres"> 4 Mujeres </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;15</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/4mujere/" rel="nofollow" data-product_id="6762" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/hartmann-honey/" title="Hartmann Honey">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/07/HarmannHoney.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/hartmann-honey/" title="Hartmann Honey"> Hartmann Honey </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;15</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/hartmann-honey/" rel="nofollow" data-product_id="6541" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/hartmann-geisha/" title="Hartmann Geisha">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/07/geisha.web_2.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/hartmann-geisha/" title="Hartmann Geisha"> Hartmann Geisha </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;32</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/hartmann-geisha/" rel="nofollow" data-product_id="6534" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/el-banco/" title="El Banco">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/ca-el_banco.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/el-banco/" title="El Banco"> El Banco </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;16</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/el-banco/" class="button">Read More</a>

													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/mundani/" title="Mundani">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/ca_mundani.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/mundani/" title="Mundani"> Mundani </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14.50</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/mundani/" class="button">Read More</a>

													</div>

												</div>
																					</div>

									<h2 class="shop_title pacific">
										<span>
											Pacific										</span>
									</h2>


										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/ulos-batak/" title="Ulos Batak">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/pacific_ulos-batak.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/ulos-batak/" title="Ulos Batak"> Ulos Batak </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;15</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/ulos-batak/" rel="nofollow" data-product_id="5938" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

									<h2 class="shop_title espressosblendsdecaf">
										<span>
											Espressos/ Blends/ Decaf										</span>
									</h2>


										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/novo-decaf-espresso/" title="Novo Decaf Espresso">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/africa_novo-decaf-espresso.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/novo-decaf-espresso/" title="Novo Decaf Espresso"> Novo Decaf Espresso </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14.50</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/novo-decaf-espresso/" rel="nofollow" data-product_id="5983" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/anyetsu-espresso/" title="Anyetsu Espresso">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/africa_anyetsu-espresso.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/anyetsu-espresso/" title="Anyetsu Espresso"> Anyetsu Espresso </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;16</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/anyetsu-espresso/" rel="nofollow" data-product_id="5977" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/espresso-del-fuego/" title="Espresso del Fuego">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/07/blend_espresso-del-fuego.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/espresso-del-fuego/" title="Espresso del Fuego"> Espresso del Fuego </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;13.50</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/espresso-del-fuego/" rel="nofollow" data-product_id="5971" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/espresso-novo/" title="Espresso Novo">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/07/blend_espresso-novo.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/espresso-novo/" title="Espresso Novo"> Espresso Novo </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/espresso-novo/" rel="nofollow" data-product_id="5968" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/novo-decaf/" title="Novo Decaf">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/africa_novo-decaf.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/novo-decaf/" title="Novo Decaf"> Novo Decaf </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;14.50</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/novo-decaf/" rel="nofollow" data-product_id="5965" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/four-leftys/" title="Four Leftys">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/07/blend-four_leftys.png&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/four-leftys/" title="Four Leftys"> Four Leftys </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;13.50</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/four-leftys/" rel="nofollow" data-product_id="5822" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>
																				<div class="blue">

									<h2 class="shop_title accessories-merchandise">
										<span>
											Accessories &amp; Merchandise										</span>
									</h2>


										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/" title="Ritual Chocolate Anyetsu Bar">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/11/ritual-chocolate-bar.jpg&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/" title="Ritual Chocolate Anyetsu Bar"> Ritual Chocolate Anyetsu Bar </a></h3>
														<h3 class="category"><span class="price"><span class="amount">&#36;6.75</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="/shop/?add-to-cart=6892" rel="nofollow" data-product_id="6892" class="add_to_cart_button button product_type_simple">Add to cart</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/espresso-novo-mug-12-oz/" title="Espresso Novo Mug">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/11/mug.jpg&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/espresso-novo-mug-12-oz/" title="Espresso Novo Mug"> Espresso Novo Mug </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;11</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/espresso-novo-mug-12-oz/" rel="nofollow" data-product_id="6877" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/the-variety/" title="The Variety">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/Novo-Glenarm-Opening-High-res019.jpg&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/the-variety/" title="The Variety"> The Variety </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;59.85</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/the-variety/" rel="nofollow" data-product_id="6126" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/the-single/" title="The Single">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/Novo-Glenarm-Opening-High-res019.jpg&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/the-single/" title="The Single"> The Single </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;59.85</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/the-single/" rel="nofollow" data-product_id="6121" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>

										<div class="productR">
											<div class="one_third" >												<a href="http://novocoffee.com/product/the-double/" title="The Double">
													<div class="recentimage">
														<div class="image">
															<div class="loading"></div>
															<img src="http://novocoffee.com/wp-content/themes/mercor/js/timthumb.php?src=http://novocoffee.com/wp-content/uploads/2013/06/Novo-Glenarm-Opening-High-res019.jpg&amp;h=300&amp;w=294" >														</div>
													</div>
												</a>
													<div class="recentdescription">
																												<h3><a href="http://novocoffee.com/product/the-double/" title="The Double"> The Double </a></h3>
														<h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">&#36;101.85</span></span></h3>
													</div>
													<div class="recentCart">

	<a href="http://novocoffee.com/product/the-double/" rel="nofollow" data-product_id="6115" class="add_to_cart_button button product_type_variable">View Details</a>
													</div>

												</div>
																					</div>
										</div>
															<!-- <div class="categorytopbarWraper">
								<div class="categorytopbar">


				</div>
			</div> -->
							</div>


				<!-- <p></p> -->






		</div>
		</div>
	</div>