<%= erb :_navigation %>

<div class = "outerpagewrap">
        <div class="pagewrap" style="background: #332822 url(/images/hero_slim_team.jpg) no-repeat center center;">
        <div class="pagecontent">
      <div class="pagecontentContent">
        <h1>Meet the Team</h1>
      </div>
    </div>
  </div>
</div>

<div id="mainwrap">
  <div id="main" class="clearfix">
  <div class="pad"></div>
    <div class="content fullwidth">


        <h2 class="team_main_title corporate"><span>Roastery</span></h2>
                          <div class="one_third ">
                  <div class="team">
                    <div class="image">
                        <img width="466" height="700" src="/images/herb_bio.jpg" class="attachment-full wp-post-image" alt="herb_bio" />
                    </div>
                    <div class="title">
                        Herb Brodsky
                    </div>
                    <p class="description">
                      A longtime political activist and people-person, Herb and his two sons Jake and Joseph co- founded Novo in 2002.
                    </p>
                  </div>
                </div>
                                              <div class="one_third ">
                  <div class="team">
                    <div class="image">
                        <img width="466" height="700" src="/images/jake_bio.jpg" class="attachment-full wp-post-image" alt="jake_bio" />                      </a>
                    </div>
                    <div class="title">
                        Jake Brodsky
                    </div>
                    <p class="description">
                      A husband, father, entrepreneur, and former breakdancer, Jake co-founded Novo with his father Herb and brother Joseph.
                    </p>
                  </div>
                </div>
                                              <div class="one_third last">
                  <div class="team">
                    <div class="image">
                        <img width="466" height="700" src="/images/erich_bio.jpg" class="attachment-full wp-post-image" alt="erich_bio" />
                    </div>
                    <div class="title">
                        Erich Rosenberg
                    </div>
                    <p class="description">
                      A thoughtful and passionate artisan, Erich is Novo’s head roaster and serves as the steward of our coffee. Erich has been in the coffee industry.
                    </p>
                  </div>
                </div>
                                              <div class="one_third ">
                  <div class="team">
                    <div class="image">
                        <img width="462" height="700" src="/images/IMG_7006.jpg" class="attachment-full wp-post-image" alt="IMG_7006" />                      </a>
                    </div>
                    <div class="title">
                        Katie Collins
                    </div>
                    <p class="description">
                      If you call Novo, chances are that you'll get to talk with Katie Collins. With a friendly face and an uncanny ability to manage multiple tasks at once, Katie serves as Novo's office manager.
                    </p>
                  </div>
                </div>
                                              <div class="one_third ">
                  <div class="team">
                    <div class="image">
                        <img width="466" height="699" src="/images/IMG_6985.jpg" class="attachment-full wp-post-image" alt="IMG_6985" />
                    </div>
                    <div class="title">
                        Brian Wolf
                    </div>
                    <p class="description">
                      A gadget and equipment guru, Brian serves as Novo’s service technician.
                    </p>
                  </div>
                </div>
                                              <div class="one_third last">
                  <div class="team">
                    <div class="image">
                        <img width="465" height="699" src="/images/IMG_7013.jpg" class="attachment-full wp-post-image" alt="IMG_7013" />
                    </div>
                    <div class="title">
                        Ryan Cash
                    </div>
                    <p class="description">
                      Delivery Driver/Account Manager Origin: Frankfurt, Kentucky If you look closely into the Novo coffee van around town, you&#8217;ll spot Ryan Cash. Hailing from Bourbon country, Ryan joined Novo in September
                    </p>
                  </div>
                </div>
                                            <div class="clear"></div>

      <h2 class="team_main_title shop"><span>Coffee Shop Teams</span></h2>

                <h3 class="team_secondary_title"><span>Novo Coffee Gilpin</span></h3>
                          <div class="one_third ">
                  <div class="team shop">
                    <div class="title">
                      Melissa                   </div>
                    <p class="description">
                      <b>•Origin:</b> Beautiful Colorado <br>
</br>•<b>Favorite Thing About Working in Coffee</b>:I love the people I meet and their faces when I hand them an amazing cup of coffee<br>
</br>•<b>Where can we find you when you're not at work?</b> I'm most likely going to be holding a musical instrument or on an adventure.                    </p>
                  </div>
                </div>
                                            <div class="clear"></div>
                                <h3 class="team_secondary_title"><span>Novo Coffee Glenarm</span></h3>
                          <div class="one_third ">
                  <div class="team shop">
                    <div class="title">
                      Emily                   </div>
                    <p class="description">
                      <b>•Origin:</b> Seattle, Washington <br>
</br>•<b>Favorite Thing About Working in Coffee</b>:This is a true toss-up. There is so much pleasure in being able to showcase some of the best ingredients to their fullest potential--all served up in a small cup. I also love the interaction with the people who come in, whose existence lights up the second their hand touches that coffee. It's a magic moment.<br>
</br>•<b>Where can we find you when you're not at work?</b> Digging around in the garden, whipping up something mighty fine in the kitchen, hangin' with my man and kitties, and exploring this gorgeous state.                   </p>
                  </div>
                </div>
                                              <div class="one_third ">
                  <div class="team shop">
                    <div class="title">
                      Matt                    </div>
                    <p class="description">
                      <b>•Origin:</b> Northern California <br>
</br>•<b>Favorite Thing About Working in Coffee:</b> Experimenting with different beans and extraction methods, constantly learning<br>
</br>•<b>Where can we find you when you're not at work?</b> Playing guitar or reading on a park bench.                    </p>
                  </div>
                </div>
                                              <div class="one_third last">
                  <div class="team shop">
                    <div class="title">
                      Tyler                   </div>
                    <p class="description">
                      <b>•Origin:</b> Oklahoma City, Oklahoma <br></br>
<b>•Favorite Thing About Working in Coffee:</b> The performance aspect involved with preparing something of quality for someone prepared to enjoy it!<br></br>
<b>•Where can we find you when you're not at work?</b> Writing, playing, performing, recording, appreciating, being moved by, or analyzing music with myself, my band(s), my hunny, or my friends!                    </p>
                  </div>
                </div>
                                            <div class="clear"></div>
                          </div>
  </div>
</div>