
<body class="page page-id-10 page-template page-template-template-wholesale-php">
	<header>
		<div id="headerwrap" >
							<div class="cartHolder">
			<div class="top-nav">
				<div class="socialTop">
									</div>
								<div class="cartWrapper">
					<a class="cart-bubble cart-contents">(0)</a>
										<a href="http://novocoffee.com/cart/" class="cart">Cart</a>
				<div class="widget_shopping_cart_top">
				<div class="cartTopDetails">
					<ul class="cart_list product_list_widget  ">


							<li class="empty cart">No products in the cart.</li>

																</ul><!-- end product list -->
				</div>

				</div>
				</div>

												<ul>
					<li><a href="http://novocoffee.com/my-account/">My Account</a></li>
				</ul>
							</div>
		</div>
							<div id="header">

			<div id="logo">

													<a href="http://novocoffee.com"><img src="images/logo.png" alt="Novo Coffee - " /></a>
						</div>
			<div class="respMenu">
				<select name="url_list" class="event-type-selector-dropdown" onchange="gotosite(this)"><option value="" selected="selected" disabled="disabled">Please select...</option><option  value="http://novocoffee.com/shop/">Shop</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Africa</option>
<option  value="http://novocoffee.com/product/anyetsu/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu</option>
<option  value="http://novocoffee.com/product/anyetsu-espresso/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu Espresso</option>
<option  value="http://novocoffee.com/product/hachira/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hachira</option>
<option  value="http://novocoffee.com/product/kiamwangi/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kiamwangi</option>
<option  value="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ritual Chocolate Anyetsu Bar</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Central America</option>
<option  value="http://novocoffee.com/product/el-banco/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Banco</option>
<option  value="http://novocoffee.com/product/fincaisnul/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finca Isnul</option>
<option  value="http://novocoffee.com/product/hartmann-honey/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hartmann Honey</option>
<option  value="http://novocoffee.com/product/hartmann-geisha/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hartmann Geisha</option>
<option  value="http://novocoffee.com/product/mundani/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mundani</option>
<option  value="http://novocoffee.com/product/ojo-de-agua-2/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ojo de Agua</option>
<option  value="http://novocoffee.com/product/4mujere/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 Mujeres</option>
<option  value="http://novocoffee.com/product/el-aguila-bourbon/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Aguila Bourbon</option>
<option  value="http://novocoffee.com/product/el-aguila-pacamara/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Aguila Pacamara</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;South America</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pacific</option>
<option  value="http://novocoffee.com/product/ulos-batak/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ulos Batak</option>

<option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;</option><option  value="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espressos, Blends, & Decaf</option>
<option  value="http://novocoffee.com/product/anyetsu-espresso/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anyetsu Espresso</option>
<option  value="http://novocoffee.com/product/espresso-del-fuego/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espresso del Fuego</option>
<option  value="http://novocoffee.com/product/espresso-novo/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Espresso Novo</option>
<option  value="http://novocoffee.com/product/four-leftys/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Four Leftys</option>
<option  value="http://novocoffee.com/product/novo-decaf/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Novo Decaf</option>
<option  value="http://novocoffee.com/product/novo-decaf-espresso/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Novo Decaf Espresso</option>

<option  value="/shop/">&nbsp;&nbsp;&nbsp;&nbsp;View all Coffees</option>

<option  value="http://novocoffee.com/wholesale/">Wholesale</option>
<option  value="http://novocoffee.com/news-events/">News + Events</option>
<option  value="http://novocoffee.com/about/">About</option>
<option  value="http://novocoffee.com/contact-locations/">Contact + Locations</option>
</select>			</div>

			<div class="pagenav">
			<ul id="menu-main-menu-1" class="menu"><li id="menu-item-5535" class="pmcbig menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="http://novocoffee.com/shop/"><strong>Shop</strong></a>
<ul class="sub-menu">
	<li id="menu-item-5799" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu-africa.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6287" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Africa</h4></a></li>
		<li id="menu-item-6131" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/anyetsu/">Anyetsu</a></li>
		<li id="menu-item-6355" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/anyetsu-espresso/">Anyetsu Espresso</a></li>
		<li id="menu-item-7812" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/hachira/">Hachira</a></li>
		<li id="menu-item-7813" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/kiamwangi/">Kiamwangi</a></li>
		<li id="menu-item-6926" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/ritual-chocolate-anyetsu-bar/">Ritual Chocolate Anyetsu Bar</a></li>
	</ul>
</li>
	<li id="menu-item-5802" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu_central-america.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6289" class="pushup menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Central America</h4></a></li>
		<li id="menu-item-6137" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/el-banco/">El Banco</a></li>
		<li id="menu-item-7185" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/fincaisnul/">Finca Isnul</a></li>
		<li id="menu-item-7449" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/hartmann-honey/">Hartmann Honey</a></li>
		<li id="menu-item-7830" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/hartmann-geisha/">Hartmann Geisha</a></li>
		<li id="menu-item-6139" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/mundani/">Mundani</a></li>
		<li id="menu-item-7447" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/ojo-de-agua-2/">Ojo de Agua</a></li>
		<li id="menu-item-7809" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/4mujere/">4 Mujeres</a></li>
		<li id="menu-item-7810" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/el-aguila-bourbon/">El Aguila Bourbon</a></li>
		<li id="menu-item-7811" class="menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/el-aguila-pacamara/">El Aguila Pacamara</a></li>
	</ul>
</li>
	<li id="menu-item-5804" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu_south-america.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6288" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>South America</h4></a></li>
	</ul>
</li>
	<li id="menu-item-5808" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/06/menu_pacific.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6290" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Pacific</h4></a></li>
		<li id="menu-item-6152" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/ulos-batak/">Ulos Batak</a></li>
	</ul>
</li>
	<li id="menu-item-5809" class="menufeautured menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><div class="label"><img src="/wp-content/themes/mercor/js/timthumb.php?src=/wp-content/uploads/2013/07/espressos_blends.png&#038;h=90&#038;w=90" alt="menu image"/></div></a>
	<ul class="sub-menu">
		<li id="menu-item-6291" class="pushup menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><h4>Espressos, Blends, <br/>&#038; Decaf</h4></a></li>
		<li id="menu-item-6144" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/anyetsu-espresso/">Anyetsu Espresso</a></li>
		<li id="menu-item-6145" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/espresso-del-fuego/">Espresso del Fuego</a></li>
		<li id="menu-item-6146" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/espresso-novo/">Espresso Novo</a></li>
		<li id="menu-item-6147" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/four-leftys/">Four Leftys</a></li>
		<li id="menu-item-6149" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/novo-decaf/">Novo Decaf</a></li>
		<li id="menu-item-6150" class="products menu-item menu-item-type-post_type menu-item-object-product"><a href="http://novocoffee.com/product/novo-decaf-espresso/">Novo Decaf Espresso</a></li>
	</ul>
</li>
	<li id="menu-item-6230" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/shop/"><div class="menufeautured"><img src="/wp-content/uploads/2013/07/Novo-Roaster-Low-19.jpg" alt="menu image"/><span>View all Coffees</span><p></p></div></a></li>
</ul>
</li>
<li id="menu-item-5570" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-10 current_page_item"><a href="http://novocoffee.com/wholesale/"><strong>Wholesale</strong></a></li>
<li id="menu-item-6109" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/news-events/"><strong>News + Events</strong></a></li>
<li id="menu-item-5569" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/about/"><strong>About</strong></a></li>
<li id="menu-item-5614" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://novocoffee.com/contact-locations/"><strong>Contact + Locations</strong></a></li>
</ul>			</div>

			</div>
		</div>

	</header>



<div class = "outerpagewrap">
				<div class="pagewrap" style="background: #332822 url(/images/hero_slim_wholesale.jpg) no-repeat center center;">
				<div class="pagecontent">
			<div class="pagecontentContent">
				<h1>Wholesale</h1>
				<!-- <p></p> -->
			</div>
		</div>

	</div>
</div>


<div id="mainwrap">
	<div id="main" class="clearfix">

		<div class="pad"></div>
		<div class="content fullwidth">
			<div class="postcontent">
				<div class="posttext">

											<p><strong>*Wholesale log-in coming soon!*</strong></p>
<p>When we roast our coffees, it&#8217;s an effort to do justice to the hard work of many others who invested time and energy into the beans before they arrived here in Denver. We view our wholesale customers as an extension of that process, and an opportunity to further showcase extraordinary coffees from producers around the world.</p>
<p>We roast green coffee beans in our beautiful vintage Vittoria machines, and we are proud to be able to offer you some of the most distinctive coffees available in today’s marketplace. We value our relationships with wholesale customers and understand every one is different, so we offer tailored training, equipment, and coffee programs to meet your needs. If you are interested in learning more about Novo&#8217;s wholesale program, we&#8217;d love to meet with you and talk about a potential partnership. Please fill out the inquiry form below and we&#8217;ll be in touch with you soon.</p>



					<div class="one_half">
						<form method="post" method="post" class="login">
							<div id="contactform">
								<h2>Wholesalers Login Here</h2>
								<div class="commentfield">
									<!--[if lte IE 9]> <label for="username">Username or email <span class="required">*</span></label> <!--<![endif]-->
									<input type="text" class="input-text" name="username" id="username" placeholder="email or username*" />
								</div>
								<div class="commentfield">
									<!--[if lte IE 9]> <label for="password">Password <span class="required">*</span></label> <!--<![endif]-->
									<input class="input-text" type="password" name="password" id="password" placeholder="password*"/>
								</div>
									<p class="form-row">
										<input type="hidden" id="_n" name="_n" value="0d65374a42" /><input type="hidden" name="_wp_http_referer" value="/wholesale/" />										<input type="submit" class="blue_button medium contact_form" name="login" value="Login" />
										<a class="lost_password" href="http://novocoffee.com/my-account/lost-password/">Lost Password?</a>
									</p>
							</div>
						</form>
					</div>
					<div class="one_half last" id="_contact">
						<form method="post" id="wholesale_contact_form">
							<div id="contactform">
								<h2>Wholesale Inquiry</h2>
								<div class="commentfield">
									<!--[if lte IE 9]> <label for="name">Name<span class="required">*</span></label> <!--<![endif]-->
									<input type="text" name="name" class="contact" id="name" placeholder="Name*" />
								</div>
								<div class="commentfield">
									<!--[if lte IE 9]> <label for="company">Company<span class="required">*</span></label> <!--<![endif]-->
									<input type="text" id="company" name="company" placeholder="Company*" class="contact" value="" />
								</div>
								<div class="commentfield">
									<!--[if lte IE 9]> <label for="email">Email address<span class="required">*</span></label> <!--<![endif]-->
									<input type="text" id="email" name="email" placeholder="Email address*" class="contact" value="" />
								</div>
								<div class="commentfield">
									<!--[if lte IE 9]> <label for="phone">Phone<span class="required">*</span></label> <!--<![endif]-->
									<input type="text" id="phone" name="phone" placeholder="Phone Number" class="contact" value="" />
								</div>
								<div class="commentfield">
									<div class="commentfieldarea">
										<!--[if lte IE 9]> <label for="message">Message<span class="required">*</span></label> <!--<![endif]-->
										<textarea name="message" id="testo" rows="8" cols="" placeholder="your message*" class="contact"></textarea>
									</div>
								</div>
								<input type="hidden" name="errorM" id="errorM" value="Error while sending email." />
								<input type="hidden" name="successM" id="successM" value="Success" />
								<input type="hidden" name="mailto" id="mailto" value="fireantstudio@gmail.com" />

								<input type="submit" class="blue_button medium contact_form" name="submit" id="invia" value="Send">
								<p><span id="result">Error while sending email.</span></p>
								<p><span id="resultsuccess">Success</span></p>
							</div>
						</form>
					</div>
				</div>
			</div>




			<h2 class="team_main_title corporate"><span>We Love our Producers</span></h2>
							<section class="producers">
					<ul class="slider">
						<ul class="nav">
							<li class="previous">
							</li>
							<li class="next">
							</li>
						</ul>
						<ul class="slides">
							<li class="slide">

									<a href="" target="_blank">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/producer_1.jpg">
									</a>


									<a href="" target="_blank">
										<img src="http://novocoffee.com/wp-content/uploads/2013/06/producer_2.jpg">
									</a>

																</li>
														</li>
						</ul>
					</ul>
				</section>
			</div>
</div>