
<body class="page page-id-10 page-template page-template-template-wholesale-php">
	<%= erb :_navigation %>

<div class = "outerpagewrap">
				<div class="pagewrap" style="background: #332822 url(/images/hero_slim_wholesale.jpg) no-repeat center center;">
				<div class="pagecontent">
			<div class="pagecontentContent">
				<h1>Wholesale</h1>
				<!-- <p></p> -->
			</div>
		</div>

	</div>
</div>


<div id="mainwrap">
	<div id="main" class="clearfix">

		<div class="pad"></div>
		<div class="content fullwidth">
			<div class="postcontent">
				<div class="posttext">

											<p><strong>*Wholesale log-in coming soon!*</strong></p>
<p>When we roast our coffees, it&#8217;s an effort to do justice to the hard work of many others who invested time and energy into the beans before they arrived here in Denver. We view our wholesale customers as an extension of that process, and an opportunity to further showcase extraordinary coffees from producers around the world.</p>
<p>We roast green coffee beans in our beautiful vintage Vittoria machines, and we are proud to be able to offer you some of the most distinctive coffees available in today’s marketplace. We value our relationships with wholesale customers and understand every one is different, so we offer tailored training, equipment, and coffee programs to meet your needs. If you are interested in learning more about Novo&#8217;s wholesale program, we&#8217;d love to meet with you and talk about a potential partnership. Please fill out the inquiry form below and we&#8217;ll be in touch with you soon.</p>



					<div class="one_half">
						<form method="post" method="post" class="login">
							<div id="contactform">
								<h2>Wholesalers Login Here</h2>
								<div class="commentfield">
									<!--[if lte IE 9]> <label for="username">Username or email <span class="required">*</span></label> <!--<![endif]-->
									<input type="text" class="input-text" name="username" id="username" placeholder="email or username*" />
								</div>
								<div class="commentfield">
									<!--[if lte IE 9]> <label for="password">Password <span class="required">*</span></label> <!--<![endif]-->
									<input class="input-text" type="password" name="password" id="password" placeholder="password*"/>
								</div>
									<p class="form-row">
										<input type="hidden" id="_n" name="_n" value="0d65374a42" /><input type="hidden" name="_wp_http_referer" value="/wholesale/" />										<input type="submit" class="blue_button medium contact_form" name="login" value="Login" />
										<a class="lost_password" href="/lost-password/">Lost Password?</a>
									</p>
							</div>
						</form>
					</div>
					<div class="one_half last" id="_contact">
						<form method="post" id="wholesale_contact_form">
							<div id="contactform">
								<h2>Wholesale Inquiry</h2>
								<div class="commentfield">
									<!--[if lte IE 9]> <label for="name">Name<span class="required">*</span></label> <!--<![endif]-->
									<input type="text" name="name" class="contact" id="name" placeholder="Name*" />
								</div>
								<div class="commentfield">
									<!--[if lte IE 9]> <label for="company">Company<span class="required">*</span></label> <!--<![endif]-->
									<input type="text" id="company" name="company" placeholder="Company*" class="contact" value="" />
								</div>
								<div class="commentfield">
									<!--[if lte IE 9]> <label for="email">Email address<span class="required">*</span></label> <!--<![endif]-->
									<input type="text" id="email" name="email" placeholder="Email address*" class="contact" value="" />
								</div>
								<div class="commentfield">
									<!--[if lte IE 9]> <label for="phone">Phone<span class="required">*</span></label> <!--<![endif]-->
									<input type="text" id="phone" name="phone" placeholder="Phone Number" class="contact" value="" />
								</div>
								<div class="commentfield">
									<div class="commentfieldarea">
										<!--[if lte IE 9]> <label for="message">Message<span class="required">*</span></label> <!--<![endif]-->
										<textarea name="message" id="testo" rows="8" cols="" placeholder="your message*" class="contact"></textarea>
									</div>
								</div>
								<input type="hidden" name="errorM" id="errorM" value="Error while sending email." />
								<input type="hidden" name="successM" id="successM" value="Success" />
								<input type="hidden" name="mailto" id="mailto" value="fireantstudio@gmail.com" />

								<input type="submit" class="blue_button medium contact_form" name="submit" id="invia" value="Send">
								<p><span id="result">Error while sending email.</span></p>
								<p><span id="resultsuccess">Success</span></p>
							</div>
						</form>
					</div>
				</div>
			</div>




			<h2 class="team_main_title corporate"><span>We Love our Producers</span></h2>
							<section class="producers">
					<ul class="slider">
						<ul class="nav">
							<li class="previous">
							</li>
							<li class="next">
							</li>
						</ul>
						<ul class="slides">
							<li class="slide">

									<a href="" target="_blank">
										<img src="images/producer_1.jpg">
									</a>


									<a href="" target="_blank">
										<img src="images/producer_2.jpg">
									</a>

																</li>
														</li>
						</ul>
					</ul>
				</section>
			</div>
</div>
